<div class="container pt-4 card-container">
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">Riepilogo informazioni</p>
    <p class="d-block matcard-title py-0" *ngIf="informazioni.length == 0">Nessuna informazione</p>
    <div class="d-block" *ngIf="informazioni.length != 0">
      <link-key-value-view class="d-block link-key-value-fill-mat-card" *ngFor="let item of informazioni" [info]="item"></link-key-value-view>
    </div>
    <p class="d-block matcard-title py-3 color-gray regular-24" *ngIf="informazioniPA.length != 0">Dati pagoPA</p>
    <div class="d-block" *ngIf="informazioniPA.length != 0">
      <link-key-value-view class="d-block link-key-value-fill-mat-card" *ngFor="let item of informazioniPA" [info]="item"></link-key-value-view>
    </div>
  </mat-card>
</div>
