<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
	<Properties>
		<Property name="logName">${it.govpay.log.name}</Property>
	</Properties>

	<Appenders>
		<RollingFile name="govpay" fileName="${it.govpay.log.folder}/${logName}.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_core-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %C:%L | %X{transactionId} | %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_orm" fileName="${it.govpay.log.folder}/${logName}_orm.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_orm-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %C:%L | %X{transactionId} | %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_bd" fileName="${it.govpay.log.folder}/${logName}_orm.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_orm-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %C:%L | %X{transactionId} | %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_boot" fileName="${it.govpay.log.folder}/${logName}_boot.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_boot-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="STDOUT" fileName="${it.govpay.log.folder}/${logName}_root.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_root-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %C:%L | %X{transactionId} | %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_transaction" fileName="${it.govpay.log.folder}/${logName}_transaction.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_transaction-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%m %n %n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_diagnostic" fileName="${it.govpay.log.folder}/${logName}_diagnostic.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_diagnostic-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%m %n %n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_notifica" fileName="${it.govpay.log.folder}/${logName}_diagnostic_notifiche.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_diagnostic_notifiche-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%m %n %n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_gw" fileName="${it.govpay.log.folder}/${logName}_diagnostic_gw.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_diagnostic_gw-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%m %n %n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_rendicontazione" fileName="${it.govpay.log.folder}/${logName}_diagnostic_rendicontazione.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_diagnostic_rendicontazione-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%m %n %n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_dump" fileName="${it.govpay.log.folder}/${logName}_dump.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_dump-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%m %n %n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="govpay_event" fileName="${it.govpay.log.folder}/${logName}_event.log" filePattern="${it.govpay.log.folder}/$${date:yyyy-MM}/${logName}_event-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%m %n %n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="it.govpay.orm" level="${it.govpay.log.level}" additivity="false">
			<AppenderRef ref="govpay_orm" />
		</Logger>

		<Logger name="it.govpay.bd" level="${it.govpay.log.level}" additivity="false">
			<AppenderRef ref="govpay_bd" />
		</Logger>

		<Logger name="it.govpay" level="${it.govpay.log.level}" additivity="false">
			<AppenderRef ref="govpay" />
		</Logger>

		<Logger name="org.apache.commons.jcs" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>

		<Logger name="org.apache.cxf.ws" level="${it.govpay.log.level}" additivity="false">
			<AppenderRef ref="govpay" />
		</Logger>

		<Logger name="org.apache.cxf.wsdl.service.factory.ReflectionServiceFactoryBean" level="${it.govpay.log.level}" additivity="false">
			<AppenderRef ref="govpay" />
		</Logger>

		<Logger name="org.apache.cxf.service.factory.ReflectionServiceFactoryBean" level="${it.govpay.log.level}" additivity="false">
			<AppenderRef ref="govpay" />
		</Logger>

		<Logger name="org.openspcoop2.utils.transport" level="${org.openspcoop2.utils.transport.log.level}" additivity="false">
			<AppenderRef ref="govpay" />
		</Logger>

		<Logger name="boot" level="${it.govpay.log.level}" additivity="false">
			<AppenderRef ref="govpay_boot" />
		</Logger>

		<Logger name="transaction" level="ALL" additivity="false">
			<AppenderRef ref="govpay_transaction" />
		</Logger>

		<Logger name="diagnostic" level="ALL" additivity="false">
			<AppenderRef ref="govpay_diagnostic" />
		</Logger>

		<Logger name="diagnostic.notifica" level="ALL" additivity="false">
			<AppenderRef ref="govpay_notifica" />
		</Logger>

		<Logger name="diagnostic.rendicontazioni" level="ALL" additivity="false">
			<AppenderRef ref="govpay_rendicontazione" />
		</Logger>

		<Logger name="diagnostic.gw" level="ALL" additivity="false">
			<AppenderRef ref="govpay_gw" />
		</Logger>

		<Logger name="dump" level="ALL" additivity="false">
			<AppenderRef ref="govpay_dump" />
		</Logger>

		<Logger name="event" level="ALL" additivity="false">
			<AppenderRef ref="govpay_event" />
		</Logger>

		<Root level="${it.govpay.log.level}">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
