<div class="row">
  <div class="col-12">
    <mat-card class="shadow no-border-radius mb-4">
      <div class="row">
        <div class="col-12" [formGroup]="fGroup">
          <mat-slide-toggle class="mb-3 mr-3" color="accent" formControlName="maggioliAbilitato_ctrl" (change)="_onChangeMaggioli($event, 'maggioliAbilitato_ctrl')">
            {{ _Voce.ABILITATO }}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <mat-select [placeholder]="_Voce.VERSIONE_CSV" formControlName="versioneCsv_ctrl"
                      [required]="(maggioliAbilitato && tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL)">
            <mat-option value="1.0">1.0</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <mat-select [placeholder]="_Voce.MODALITA_CONNETTORE" formControlName="tipoConnettore_ctrl" (selectionChange)="_onChangeMaggioli($event, 'tipoConnettore_ctrl')"
                       [required]="maggioliAbilitato">
            <mat-option *ngFor="let o of Util.MODALITA_MAGGIOLI" [value]="o.value">{{o.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <mat-select [placeholder]="_Voce.TIPI_PENDENZA" formControlName="tipiPendenza_ctrl" [compareWith]="_pendenzaCmpFn"
                      (selectionChange)="_tipoChange($event)" multiple [required]="maggioliAbilitato">
            <mat-option [value]="_all" [disabled]="_option.hasOption">{{_all.descrizione}}</mat-option>
            <mat-option *ngFor="let item of _tipiPendenza" [disabled]="_option.hasAllOption" [value]="item">{{item.idTipoPendenza}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row mb-4" *ngIf="tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL">
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_Voce.EMAIL" formControlName="emailIndirizzi_ctrl" autocomplete="off"
                 [required]="(maggioliAbilitato && tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL)">
          <mat-hint>In caso di indirizzi multipli indicare i valori separati da una virgola e lo spazio (Es. ‘address@hostname.com, address@hostname.com‘)</mat-hint>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL">
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_Voce.OGGETTO" formControlName="emailSubject_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row align-items-center" *ngIf="tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL">
        <div class="col-12 col-md-5 col-lg-4" [formGroup]="fGroup">
          <mat-slide-toggle color="accent" formControlName="emailAllegato_ctrl" (change)="_allegatoChange($event)">
            {{ _Voce.INVIO_TRACCIATO_ALLEGATO }}
          </mat-slide-toggle>
        </div>
        <mat-form-field class="col" color="accent" [formGroup]="fGroup" *ngIf="!_isAllegatoEmail && tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL">
          <input matInput [placeholder]="_Voce.DOWNLOAD_BASE_URL" formControlName="downloadBaseUrl_ctrl" autocomplete="off"
                 [required]="(maggioliAbilitato && !_isAllegatoEmail && tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL)">
          <mat-hint>Indicare la base URL dalla quale sarà possibile scaricare il tracciato</mat-hint>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="tipoConnettore.value === Util.CONNETTORE_MODALITA_EMAIL">
        <p class="col-12 matcard-title pt-4 mb-3 color-gray regular-18">Servizio di acquisizione delle ricevute</p>
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_Voce.PRINCIPAL" formControlName="principal_ctrl" autocomplete="off"
                 [required]="maggioliAbilitato">
        </mat-form-field>
        <p class="col-12 matcard-title pt-4 mb-3 color-gray regular-18">Servizio di notifica dei pagamenti</p>
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input #urlCtrl matInput placeholder="URL" formControlName="url_ctrl" autocomplete="off" [required]="maggioliAbilitato">
        </mat-form-field>
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <mat-select placeholder="Versione API" formControlName="versioneApi_ctrl" [required]="maggioliAbilitato">
            <mat-option *ngFor="let ver of versioni" [value]="ver">{{ver}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- SSL Config -->
        <link-ssl-config #sslConfig class="col-12" [fGroup]="fGroup" [json]="json?.auth" [disabled]="!urlCtrl.value"
                         [required]="maggioliAbilitato && !!urlCtrl.value"></link-ssl-config>
      </div>
    </mat-card>
  </div>
</div>
