<div class="row">
  <div class="col-12">
    <mat-card class="shadow no-border-radius mb-4">
      <div class="row">
        <p class="col-12 matcard-title pt-2 mb-3 color-gray regular-18">Servizio REST Maggioli JPPA</p>
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input matInput placeholder="Base URL dei servizi" formControlName="url_ctrl" autocomplete="off" [required]="maggioliAbilitato">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_Voce.USERNAME" formControlName="username_ctrl" autocomplete="off" [required]="maggioliAbilitato">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput type="password" [placeholder]="_Voce.PASSWORD" formControlName="password_ctrl" autocomplete="off" [required]="maggioliAbilitato">
        </mat-form-field>
      </div>
      <div class="row align-items-center">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup" floatLabel="always">
          <mat-label></mat-label>
          <input type="text" matInput [matDatepicker]="dataUltimaRTPicker" autocomplete="off"
                 [placeholder]="_Voce.DATA_ULTIMA_RT" formControlName="dataUltimaRT_ctrl" [(ngModel)]="_dataUltimaRT">
          <mat-datepicker-toggle matSuffix [for]="dataUltimaRTPicker"></mat-datepicker-toggle>
          <mat-datepicker #dataUltimaRTPicker touchUi></mat-datepicker>
          <button mat-icon-button matSuffix (click)="_overlayTimepicker($event)" type="button">
            <mat-icon>access_time</mat-icon>
          </button>
        </mat-form-field>
        <div class="col-12 col-sm-6 mb-3" [formGroup]="fGroup">
          <mat-slide-toggle color="accent" formControlName="maggioliAbilitato_ctrl" (change)="_onChangeMaggioli($event, 'maggioliAbilitato_ctrl')">
            {{ _Voce.ABILITATO }}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <p class="col-12 matcard-title pt-2 mb-3 color-gray regular-18">Invio tracciato esito</p>
        <div class="col-12 mb-3" [formGroup]="fGroup">
          <mat-slide-toggle color="accent" formControlName="inviaTracciatoEsito_ctrl" (change)="_onChangeInviaTracciatoEsito($event)">
            {{ _Voce.INVIA_TRACCIATO_ESITO }}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row" *ngIf="_inviaTracciatoEsito">
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_Voce.FILE_SYSTEM_PATH" formControlName="fileSystemPath_ctrl" autocomplete="off"
                 [required]="_inviaTracciatoEsito">
          <mat-hint>Path nel quale verrà salvato il tracciato</mat-hint>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="_inviaTracciatoEsito">
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_Voce.EMAIL" formControlName="emailIndirizzi_ctrl" autocomplete="off"
                 [required]="_inviaTracciatoEsito">
          <mat-hint>In caso di indirizzi multipli indicare i valori separati da una virgola e lo spazio (Es. 'address@hostname.com, address@hostname.com')</mat-hint>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="_inviaTracciatoEsito">
        <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_Voce.OGGETTO" formControlName="emailSubject_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
    </mat-card>
  </div>
</div>
