<div class="container pt-4 card-container">
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">Riepilogo informazioni</p>
    <p class="d-block matcard-title py-0 regular-16 normal-color" *ngIf="informazioni.length === 0">Nessuna informazione</p>
    <p class="d-block matcard-title py-3 color-gray regular-18" *ngIf="informazioni.length !== 0">Dati anagrafici</p>
    <div class="d-block" *ngIf="informazioni.length !== 0">
      <link-key-value-view class="d-block link-key-value-fill-mat-card" *ngFor="let item of informazioni" [info]="item"></link-key-value-view>
    </div>

    <p class="d-block matcard-title py-3 color-gray regular-18" *ngIf="informazioniPA.length !== 0">Parametri adesione a pagoPA</p>
    <div class="d-block" *ngIf="informazioniPA.length !== 0">
      <link-key-value-view class="d-block link-key-value-fill-mat-card" *ngFor="let item of informazioniPA" [info]="item"></link-key-value-view>
    </div>

    <p class="d-block matcard-title py-3 color-gray regular-18" *ngIf="informazioniExtra.length !== 0">Altre informazioni</p>
    <div class="d-block" *ngIf="informazioniExtra.length !== 0">
      <link-key-value-view class="d-block link-key-value-fill-mat-card" *ngFor="let item of informazioniExtra" [info]="item"></link-key-value-view>
    </div>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4" *ngIf="!logoError">
    <img class="d-block w-50 link-key-value-fill-mat-card px-3 py-3" [src]="logo" (error)="_onError($event)"/>
  </mat-card>
  <link-filter-card (over-icon-click)="_iconCardClick(_UNITA, $event)" (add-icon-click)="_addEdit(_UNITA)" [card-title]="'Unità operative'"
                    [data-list]="unita_operative" [show-actions]="_PLUS_CREDIT" [show-over-icons]="_PLUS_CREDIT" [next-page]="_paginatorOptions.unita.next"
                    [previous-page]="_paginatorOptions.unita.previous" [page]="_paginatorOptions.unita.page" [target]="_UNITA"
                    [pages]="_paginatorOptions.unita.pages" (page-event)="paginatorLoader($event, _UNITA)" [tooltip-action]="'Unità operativa'"
                    [search]="_paginatorOptions.unita.search" [refresh]="_paginatorOptions.unita.refresh"></link-filter-card>
  <link-filter-card (over-icon-click)="_iconCardClick(_IBAN, $event)" (add-icon-click)="_addEdit(_IBAN)" [card-title]="'Iban'"
                    [data-list]="iban_cc" [show-actions]="_PLUS_CREDIT" [show-over-icons]="_PLUS_CREDIT" [next-page]="_paginatorOptions.iban.next"
                    [previous-page]="_paginatorOptions.iban.previous" [page]="_paginatorOptions.iban.page" [target]="_IBAN"
                    [pages]="_paginatorOptions.iban.pages" (page-event)="paginatorLoader($event, _IBAN)" [tooltip-action]="'Iban'"
                    [search]="_paginatorOptions.iban.search" [refresh]="_paginatorOptions.iban.refresh"></link-filter-card>
  <link-filter-card (over-icon-click)="_iconCardClick(_ENTRATA_DOMINIO, $event)" (add-icon-click)="_addEdit(_ENTRATA_DOMINIO)" [card-title]="'Tipi entrata'"
                    [data-list]="entrate" [show-actions]="_PLUS_CREDIT" [show-over-icons]="_PLUS_CREDIT" [next-page]="_paginatorOptions.entrate.next"
                    [previous-page]="_paginatorOptions.entrate.previous" [page]="_paginatorOptions.entrate.page" [target]="_ENTRATA_DOMINIO"
                    [pages]="_paginatorOptions.entrate.pages" (page-event)="paginatorLoader($event, _ENTRATA_DOMINIO)" [tooltip-action]="'Tipi entrata'"
                    [search]="_paginatorOptions.entrate.search" [refresh]="_paginatorOptions.entrate.refresh"></link-filter-card>
  <link-filter-card (over-icon-click)="_iconCardClick(_TIPI_PENDENZA_DOMINIO, $event)" (add-icon-click)="_addEdit(_TIPI_PENDENZA_DOMINIO)" [card-title]="'Tipi pendenza'"
                    [data-list]="tipiPendenza" [show-actions]="_PLUS_CREDIT" [disable-action]="!_hasAssociazioniPendenza" [show-over-icons]="_PLUS_CREDIT"
                    [tooltip-action]="!_hasAssociazioniPendenza?'Non ci sono pendenze disponibili':'Tipi pendenza'"
                    [next-page]="_paginatorOptions.pendenze.next" [previous-page]="_paginatorOptions.pendenze.previous" [page]="_paginatorOptions.pendenze.page"
                    [target]="_TIPI_PENDENZA_DOMINIO" [pages]="_paginatorOptions.pendenze.pages" (page-event)="paginatorLoader($event, _TIPI_PENDENZA_DOMINIO)"
                    [search]="_paginatorOptions.pendenze.search" [refresh]="_paginatorOptions.pendenze.refresh"></link-filter-card>
  <link-simple-list-card (over-icon-click)="_listCardIconClick($event)" (menu-action-click)="_listCardAction($event)" [trigger-icon]="'add'" [card-title]="'Connettori'"
                         [tooltip-trigger-icon]="'Connettori'" [data-list]="connettori" [show-actions]="_PLUS_CREDIT" [action-list]="['edit', 'delete']"
                         [show-menu-actions]="_PLUS_CREDIT && _availableConnectors.length !== 0" [menu-actions]="_availableConnectors"></link-simple-list-card>
</div>
<button mat-fab class="fab-action" (click)="_editDominio()"><i class="material-icons">edit</i></button>
