<div class="container pt-4 card-container">
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">Riepilogo informazioni</p>
    <p class="d-block matcard-title py-0 regular-16 normal-color" *ngIf="informazioni.length == 0">Nessuna informazione</p>
    <div class="d-block" *ngIf="informazioni.length != 0">
      <link-key-value-view class="d-block link-key-value-fill-mat-card" *ngFor="let item of informazioni" [info]="item"></link-key-value-view>
    </div>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4" *ngIf="!logoError">
    <img class="d-block w-50 link-key-value-fill-mat-card px-3 py-3" [src]="logo" (error)="_onError($event)"/>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4 pb-0">
    <div class="d-flex flex-row">
      <p class="w-100 mr-3 matcard-title color-gray regular-24 lh-100 mb-3">Unità operative</p>
      <mat-icon class="action" (click)="_addEdit(_UNITA)" *ngIf="_PLUS_CREDIT"><i class="material-icons dark-material-icons">add</i></mat-icon>
    </div>
    <mat-card-content>
      <p class="d-block matcard-title pb-3 regular-16 normal-color" *ngIf="unita_operative.length == 0">Nessuna informazione</p>
      <div class="d-block" *ngIf="unita_operative.length != 0">
        <link-item-view #uoliv class="d-block link-item-view-fill-mat-card" *ngFor="let item of unita_operative" [component-data]="item" [use-item-view-directive]="true"
                        (icon-click)="_iconClick(_UNITA, uoliv, $event)" [over-icons]="['edit']" [show-over-icons]="_PLUS_CREDIT"></link-item-view>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4 pb-0">
    <div class="d-flex flex-row">
      <p class="w-100 mr-3 matcard-title color-gray regular-24 lh-100 mb-3">Iban</p>
      <mat-icon class="action" (click)="_addEdit(_IBAN)" *ngIf="_PLUS_CREDIT"><i class="material-icons dark-material-icons">add</i></mat-icon>
    </div>
    <mat-card-content>
      <p class="d-block matcard-title pb-3 regular-16 normal-color" *ngIf="iban_cc.length == 0">Nessuna informazione</p>
      <div class="d-block" *ngIf="iban_cc.length != 0">
        <link-item-view #iliv class="d-block link-item-view-fill-mat-card" *ngFor="let item of iban_cc" [component-data]="item" [use-item-view-directive]="true"
                        (icon-click)="_iconClick(_IBAN, iliv, $event)" [over-icons]="['edit']" [show-over-icons]="_PLUS_CREDIT"></link-item-view>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4 pb-0">
    <div class="d-flex flex-row">
      <p class="w-100 mr-3 matcard-title color-gray regular-24 lh-100 mb-3">Entrate</p>
      <mat-icon class="action" (click)="_addEdit(_ENTRATA_DOMINIO)" *ngIf="_PLUS_CREDIT"><i class="material-icons dark-material-icons">add</i></mat-icon>
    </div>
    <mat-card-content>
      <p class="d-block matcard-title pb-3 regular-16 normal-color" *ngIf="entrate.length == 0">Nessuna informazione</p>
      <div class="d-block" *ngIf="entrate.length != 0">
        <link-item-view #eliv class="d-block link-item-view-fill-mat-card" *ngFor="let item of entrate" [component-data]="item" [use-item-view-directive]="true"
                        (icon-click)="_iconClick(_ENTRATA_DOMINIO, eliv, $event)" [over-icons]="['edit']" [show-over-icons]="_PLUS_CREDIT"></link-item-view>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4 pb-0">
    <div class="d-flex flex-row">
      <p class="w-100 mr-3 matcard-title color-gray regular-24 lh-100 mb-3">Pendenze</p>
      <mat-icon class="action" (click)="_addEdit(_TIPI_PENDENZA_DOMINIO)" *ngIf="_PLUS_CREDIT"><i class="material-icons dark-material-icons">add</i></mat-icon>
    </div>
    <mat-card-content>
      <p class="d-block matcard-title pb-3 regular-16 normal-color" *ngIf="tipiPendenza.length == 0">Nessuna informazione</p>
      <div class="d-block" *ngIf="tipiPendenza.length != 0">
        <link-item-view #tpliv class="d-block link-item-view-fill-mat-card" *ngFor="let item of tipiPendenza" [component-data]="item" [use-item-view-directive]="true"
                        (icon-click)="_iconClick(_TIPI_PENDENZA_DOMINIO, tpliv, $event)" [over-icons]="['edit']" [show-over-icons]="_PLUS_CREDIT"></link-item-view>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<button mat-fab class="fab-action" (click)="_editDominio()"><i class="material-icons">edit</i></button>
