<mat-form-field class="w-100" color="accent" [formGroup]="fGroup" *ngIf="verifyDisplay()">
  <mat-label>{{json.label}}</mat-label>
  <input #element matInput [maxlength]="json.maxlength" formControlName="{{json.id}}_ctrl"
         [value]="json.value" [required]="json.required" autocomplete="off" [matAutocomplete]="auto">
  <button mat-button *ngIf="element.value" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="_reset()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of filteredOptions | async" [value]="item.value" [matTooltip]="item.value"
                #tooltip="matTooltip" (mouseover)="tooltip.show()" (mouseout)="tooltip.hide()">{{item.label}}</mat-option>
  </mat-autocomplete>
</mat-form-field>
