<div class="container p-0 regular-16 normal-color" *ngIf="info">
  <div class="row px-3">
    <div class="col-12 col-sm-8 px-0 px-0">
      <div class="row lh-130 mb-2 break-all">
        <div class="col-5 color-gray">{{info.titolo?.label}}:</div>
        <div class="col-7">{{info.titolo?.value}}</div>
      </div>
      <div class="row lh-130 mb-2 break-all">
        <div class="col-5 color-gray">{{info.sottotitolo?.label}}:</div>
        <div class="col-7">{{info.sottotitolo?.value}}</div>
      </div>
      <div class="row lh-130 mb-2 break-all" *ngFor="let extra of info.extraInfo">
        <div class="col-5 color-gray">{{extra.label}}</div>
        <div class="col-7">{{extra.value}}</div>
      </div>
      <p class="mt-3 mb-2 color-gray regular-18" *ngIf="info.cancel">Annullamento</p>
      <div class="row lh-130 regular-16 mb-2" *ngIf="info.cancel">
        <div class="col-5 color-gray">Data:</div>
        <div class="col-7">{{info.dataAnnullamento}}</div>
      </div>
      <div class="row lh-130 regular-16 mb-2" *ngIf="info.cancel">
        <div class="col-5 color-gray">Causale:</div>
        <div class="col-7">{{info.causale}}</div>
      </div>
    </div>
    <div class="col-12 col-sm-4 px-0 text-right">
      <p class="text-truncate medium-24 lh-90 mb-1" *ngIf="info.importo">{{info.importo}}</p>
      <p class="text-truncate color-gray medium-18">{{info.stato}}</p>
    </div>
  </div>
</div>
