@import '~@angular/material/theming';
@import '../../../../../styles/variables.scss';

p {
  margin: 0;
}

.container {
  background-color: $link-form-background;
}

.riepilogo-sub-class {
  color: $link-gray;
}
