@import '~@angular/material/theming';
@import '../../../../../styles/variables.scss';

.sub-totale {
  margin: 16px 0 -16px 0 !important;
}

link-riepilogo-view {
  display: block;
  margin: 0 !important;
}

link-scroller-container {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

link-item-view:last-child.link-item-view-fill .item-directive {
  border-bottom: none !important;
}

// Overridden styles
// mat-expansion-panel and mat-tab
mat-expansion-panel-header:hover {
  background-color: transparent !important;
}

mat-expansion-panel {
  box-shadow: 0 1px 1px 0 $link-shadow !important;
  margin-bottom: 1rem !important;
}

mat-expansion-panel.dettaglio-carrello {
  margin-bottom: 0 !important;
}

mat-expansion-panel:last-child {
  margin-bottom: 0 !important;
}

mat-expansion-panel-header {
  padding: 0 24px !important;
}

mat-tab-group.pagamenti-tab .mat-tab-body-wrapper {
  position: absolute !important;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
}

mat-tab-group.pagamenti-tab mat-tab-header {
  position: fixed !important;
  background-color: mat-color($link-primary);
  box-shadow: 0 2px 2px 0 $link-shadow !important;
  width: 100%;
  z-index: 2;
}

mat-tab-group.pagamenti-tab mat-tab-header .mat-tab-label {
  color: white;
  font-weight: normal;
  font-variant: small-caps;
}

mat-tab-group.pagamenti-tab mat-ink-bar {
  background-color: mat-color($link-accent) !important;
}

mat-tab-body .mat-tab-body-content {
  padding: 1rem;
}

mat-tab-group.pagamenti-tab .mat-tab-header-pagination-chevron {
  border-color: $light-primary-text;
}
