@import '~@angular/material/theming';
@import '../../../../../styles/variables.scss';

.sub-totale {
  margin: 16px 0 -16px 0 !important;
  //padding-top: 16px !important;
}

link-riepilogo-view {
  display: block;
  margin: 0 !important;
}

link-scroller-container {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//.tentativi link-item-view:last-child .item-directive {
//  border-bottom: 0 !important;
//}

// Overridden styles
// mat-tab
mat-tab-group.pendenze-tab .mat-tab-body-wrapper {
  position: absolute !important;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
}

mat-tab-group.pendenze-tab mat-tab-header {
  position: fixed !important;
  background-color: mat-color($link-primary);
  box-shadow: 0 2px 2px 0 $link-shadow !important;
  width: 100%;
  z-index: 2;
}

mat-tab-group.pendenze-tab mat-tab-header .mat-tab-label {
  color: white;
  font-weight: normal;
  font-variant: small-caps;
}

mat-tab-group.pendenze-tab mat-ink-bar {
  background-color: mat-color($link-accent) !important;
}

mat-tab-group.pendenze-tab mat-tab-body .mat-tab-body-content {
  padding: 1rem;
}

mat-tab-group.pendenze-tab .mat-tab-header-pagination-chevron {
  border-color: $light-primary-text;
}

mat-tab-group.pendenze-tab mat-tab-body:last-child,
mat-tab-group.pendenze-tab mat-tab-body:last-child .mat-tab-body-content {
  overflow: hidden !important;
}
