<mat-toolbar class="risultati-group">
  <p class="m-0 color-gray regular-24">{{_risultati(_lastResponse?.numRisultati)}}</p>
</mat-toolbar>
<link-item-view #liv class="d-block" [use-item-view-directive]="true" [show-over-icons]="iconOverActions" *ngFor="let item of listResults"
                [component-data]="item" (click)="_livClick(liv)" (icon-click)="_iconClick($event)" [over-icons]="_overIcons()"></link-item-view>
<button mat-fab class="fab-action" (click)="_fabAction()" *ngIf="fabAction"><i class="material-icons">add</i></button>
