<div class="container-fluid p-3">
  <div class="row align-items-stretch" *ngIf="hasAuthentication && hasPagamenti">
    <div class="col-sm-6 col-12 flex-column">
      <link-badge-card class="d-block action" badge-title="Pagamenti rifiutati"
                       [service]="_PFService" [diff-service]="_PFDiffService" [exam-service]="_PFExamService"
                       [badge-location]="DASHBOARD" (click)="_route(0)"></link-badge-card>
    </div>
    <div class="col-sm-6 col-12 flex-column">
      <link-badge-card class="d-block action" badge-title="Pagamenti sospesi"
                       [service]="_PICService" [diff-service]="_PICDiffService" [exam-service]="_PICExamService"
                       [badge-location]="DASHBOARD" (click)="_route(1)"></link-badge-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-12 flex-column form-col">
      <form class="w-100" #loginForm="ngForm" *ngIf="!hasAuthentication">
        <mat-card class="mat-elevation-card mb-3">
          <mat-card-header>
            <p class="card-title-margin color-gray regular-24">Autenticazione</p>
          </mat-card-header>
            <mat-card-content>
              <mat-form-field class="w-100" color="accent">
                <input id="inputEmail" matInput placeholder="Nome utente"
                       name="_user" [(ngModel)]="_user" required autofocus>
              </mat-form-field>
              <mat-form-field class="w-100" color="accent">
                <input id="inputPassword" matInput placeholder="Password" type="password"
                       name="_pass" [(ngModel)]="_pass" required autocomplete="on">
              </mat-form-field>
              <button mat-button mat-raised-button color="accent" class="mat-elevation-z0 mt-3" type="submit"
                      [disabled]="!loginForm.form.valid" (click)="onSubmitCredentials(loginForm)">ACCEDI</button>
            </mat-card-content>
        </mat-card>
      </form>
      <mat-card class="mat-elevation-card mb-3">
        <mat-card-header>
          <p class="card-title-margin color-gray regular-24">GovPay</p>
        </mat-card-header>
        <mat-card-content>
          <ul class="regular-16">
            <li class="accent-text d-block">
              <a class="pt-1" [href]="_GovPayInfo.DOCUMENTS.MANUALE_UTENTE" target="_blank">Manuale utente</a>
            </li>
            <li class="accent-text d-block">
              <a class="pt-1" [href]="_GovPayInfo.DOCUMENTS.LICENSE" target="_blank">Licenza</a>
            </li>
            <li class="accent-text d-block">
              <a class="pt-1" [href]="_GovPayInfo.PROGETTO_GOVPAY" target="_blank">Progetto GovPay</a>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="flex-grow-1 mat-elevation-card">
        <mat-card-header>
          <p class="card-title-margin color-gray regular-24">Notizie</p>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let _news of news">
            <div class="py-3 news-title"><a [href]="_news.html_url" target="_blank">{{_news.tag_name}} {{_news.name}}</a></div>
            <div class="news-body overflow-x-hidden" [innerHTML]="_news.body_html"></div>
          </div>
          <div class="regular-16 normal-color" *ngIf="news.length==0">Nessuna notizia.</div>
        </mat-card-content>
        <mat-spinner diameter="30" color="primary" class="news-spinner" *ngIf="_isLoading"></mat-spinner>
      </mat-card>
    </div>
  </div>
</div>
