<div class="container-fluid p-3">
  <div class="row align-items-stretch">
    <div class="col-sm-6 col-12 flex-column">
      <link-badge-card class="d-block action" badge-title="Pagamenti rifiutati"
                       [service]="_PFService" [diff-service]="_PFDiffService" [exam-service]="_PFExamService"
                       [badge-location]="DASHBOARD" (click)="_route(0)"></link-badge-card>
    </div>
    <div class="col-sm-6 col-12 flex-column">
      <link-badge-card class="d-block action" badge-title="Pagamenti sospesi"
                       [service]="_PICService" [diff-service]="_PICDiffService" [exam-service]="_PICExamService"
                       [badge-location]="DASHBOARD" (click)="_route(1)"></link-badge-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-12 flex-column form-col">
      <mat-card class="mb-3 mat-elevation-card">
        <mat-card-header>
          <p class="card-title-margin color-gray regular-24">Govpay</p>
        </mat-card-header>
        <mat-card-content>
          <ul class="regular-16">
            <li class="accent-text d-block">
              <a class="pt-1" [href]="_LinkBasePath+'/public/GovPay-ManualeUtente.pdf'" target="_blank">Manuale utente</a>
            </li>
            <li class="accent-text d-block">
              <a class="pt-1" [href]="_LinkBasePath+'/public/LICENSE'" target="_blank">Licenza</a>
            </li>
            <li class="accent-text d-block">
              <a class="pt-1" href="https://github.com/link-it/GovPay" target="_blank">Progetto Govpay</a>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="flex-grow-1 mat-elevation-card">
        <mat-card-header>
          <p class="card-title-margin color-gray regular-24">Notizie</p>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let _news of news">
            <div class="py-3 news-title"><a [href]="_news.html_url" target="_blank">{{_news.tag_name}} {{_news.name}}</a></div>
            <div class="news-body" [innerHTML]="_news.body_html"></div>
          </div>
          <div class="regular-16 normal-color" *ngIf="news.length==0">Nessuna notizia.</div>
        </mat-card-content>
        <mat-spinner diameter="30" color="primary" class="news-spinner" *ngIf="_isLoading"></mat-spinner>
      </mat-card>
    </div>
  </div>
</div>
