<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<display-name>govpay-web-console</display-name>

	<filter>
		<filter-name>OriginFilter</filter-name>
		<filter-class>it.govpay.rs.OriginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OriginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>it.govpay.web.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/private/index.html</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Resources-Unprotected</web-resource-name>
			<url-pattern>/public/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Resources-Protected</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/public/index.html</form-login-page>
			<form-error-page>/public/index_error.html</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>*</role-name>
	</security-role>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
