<div class="container p-3">
  <mat-accordion>
    <mat-expansion-panel [expanded]="_expanded">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-500">Riepilogo</mat-panel-title>
      </mat-expansion-panel-header>
      <link-riepilogo-view [info]="info"></link-riepilogo-view>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-500">Carrello</mat-panel-title>
      </mat-expansion-panel-header>
      <link-item-view *ngFor="let item of pagamenti" [component-data]="item" class="link-item-view-fill"></link-item-view>
    </mat-expansion-panel>
  </mat-accordion>
</div>
