<div class="container p-3 card-container">
  <mat-card class="shadow no-border-radius mb-3" *ngIf="info">
    <p class="d-block matcard-title pb-3 color-gray regular-24">Riepilogo</p>
    <link-riepilogo-view [info]="info"></link-riepilogo-view>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-3" *ngIf="pagamenti.length!=0">
    <p class="matcard-title pb-3 color-gray regular-24">Carrello pendenze</p>
    <link-item-view *ngFor="let item of pagamenti" [component-data]="item" [use-item-view-directive]="true"
                    [show-over-icons]="false" [over-icons]="_importiOverIcons" class="link-item-view-fill">
    </link-item-view>
    <div class="row sub-totale medium-16" *ngIf="pagamenti.length != 0">
      <div class="col-6 px-0 m-0">
        <p class="text-truncate mb-1">Totale</p>
      </div>
      <div class="col-6 px-0 m-0 text-right">
        <p class="text-truncate mb-1">{{us.currencyFormat(_paymentsSum)}}</p>
      </div>
    </div>
  </mat-card>
</div>
