:host {
  --active-color: #94ab26;
}

.dropdown-menu {
  box-shadow: 0 3px 5px rgba(0,0,0,.15);
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.dropdown-item .mat-icon {
  margin-right: 5px;
}

.dropdown-toggle.mat-button.mat-accent.has-settings,
.dropdown-toggle .mat-icon.has-settings {
  color: #000;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--active-color);
}
