<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>govpay_web_console</display-name>

	<context-param>
		<param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>
	<!-- <context-param> -->
	<!-- <param-name>com.sun.faces.serializationProvider</param-name> -->
	<!-- <param-value>org.jboss.web.jsf.integration.serialization.JBossSerializationProvider</param-value> -->
	<!-- </context-param> -->
	<!-- <context-param> -->
	<!-- <param-name>com.sun.faces.injectionProvider</param-name> -->
	<!-- <param-value>org.jboss.web.jsf.integration.config.JBossAnnotationProvider</param-value> -->
	<!-- </context-param> -->
	<context-param>
		<param-name>com.sun.faces.forceLoadConfiguration</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Lasciare entrambi -->
	<context-param>
		<param-name>DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING</param-name>
		<param-value>enable</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- <context-param> -->
	<!-- <param-name>org.jboss.jbossfaces.JSF_CONFIG_NAME</param-name> -->
	<!-- <param-value>Mojarra-1.2</param-value> -->
	<!-- </context-param> -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.RECREATE_VALUE_EXPRESSION_ON_BUILD_BEFORE_RESTORE</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.REFRESH_PERIOD</param-name>
		<param-value>2</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>openspcoop2</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.handleViewExpiredOnClient</param-name>
		<param-value>true</param-value>
	</context-param>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>

	<!-- Listener -->
	<listener>
		<listener-class>org.jboss.weld.el.WeldELContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>it.govpay.web.console.listener.HttpSessionCheckListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>



	<!-- RichFaces -->
	<filter>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>
	<!-- Session TimeOut -->
	<filter>
		<filter-name>SessionTimeoutFilter</filter-name>
		<filter-class>org.openspcoop2.generic_project.web.listener.SessionTimeoutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionTimeoutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
    <filter-name>RichFacesFirefox11Filter</filter-name>
    <filter-class>org.openspcoop2.generic_project.web.listener.RichFacesFirefox11Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RichFacesFirefox11Filter</filter-name>
    <url-pattern>/a4j/*</url-pattern>
  </filter-mapping>
	
	 <!-- Filtro Visualizzazione IE -->
  <filter>
        <display-name>IE Filter</display-name>
        <filter-name>iefilter</filter-name>
        <filter-class>org.openspcoop2.generic_project.web.listener.IEFilter</filter-class>
    </filter>

        <filter-mapping>
        <filter-name>iefilter</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

	<!--End of the configuration part for Richfaces -->
	
	

	
	

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/pages/timeoutPage.jsf</location>
	</error-page>

<error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/pages/error.jsf</location>
</error-page>
<error-page>
    <exception-type>org.jboss.weld.context.NonexistentConversationException</exception-type>
    <location>/pages/pagamenti/eseguiti/list/listaDistinte.xhtml?nocid=true</location>
</error-page>
<error-page>
    <exception-type>javax.enterprise.context.NonexistentConversationException</exception-type>
    <location>/pages/pagamenti/eseguiti/list/listaDistinte.xhtml?nocid=true</location>
</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>