<div class="container py-4 px-3 card-container">
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">Riepilogo informazioni</p>
    <p class="d-block matcard-title py-0 regular-16 normal-color" *ngIf="informazioni.length == 0">Nessuna informazione</p>
    <div class="d-block" *ngIf="informazioni.length != 0">
      <link-key-value-view *ngFor="let item of informazioni" [info]="item" class="d-block link-key-value-fill-mat-card"></link-key-value-view>
    </div>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">{{_voce.VISUALIZZAZIONE}}</p>
    <p class="d-block matcard-title pb-3 color-gray regular-16" *ngIf="!_jsonVisualizzazione">{{_voce.NON_CONFIGURATO}}</p>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="_jsonVisualizzazione">
      <div class="col-12 col-sm-4 color-gray lh-130">Configurazione:</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(_jsonVisualizzazione, 'Configurazione')" [disabled]="!_jsonVisualizzazione">
        <mat-icon aria-label="Open Definizione">open_in_new</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">{{_voce.LAYOUT_FORM_DATI}}</p>
    <p class="d-block matcard-title pb-3 color-gray regular-16" *ngIf="!_jsonSchemaSelected">{{_voce.NON_CONFIGURATO}}</p>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="_jsonSchemaSelected">
      <div class="col-12 col-sm-4 color-gray lh-130">Tipo layout:</div>
      <div class="col-12 col-sm-8">{{_jsonSchemaSelected['generatore']}}</div>
    </div>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="_jsonSchemaSelected">
      <div class="col-12 col-sm-4 color-gray lh-130">Definizione:</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(_jsonSchemaSelected.schema, 'Definizione')" [disabled]="!_jsonSchemaSelected.schema">
        <mat-icon aria-label="Open Definizione">open_in_new</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">{{_voce.ELABORAZIONE}}</p>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all">
      <div class="col-12 col-sm-4 color-gray lh-130">Validazione:</div>
      <div class="col-12 col-sm-8" *ngIf="!runtime.validazione">{{_voce.NON_CONFIGURATO}}</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(runtime.validazione, 'Validazione')" *ngIf="runtime.validazione">
        <mat-icon aria-label="Open Validazione">open_in_new</mat-icon>
      </button>
    </div>
    <link-key-value-view *ngIf="runtime.trasformazione" [info]="runtime.trasformazione" class="d-block link-key-value-fill-mat-card"></link-key-value-view>
    <p class="d-block matcard-title pb-3 color-gray regular-18" *ngIf="!runtime.trasformazione && runtime.tipo">{{_voce.TRASFORMAZIONE}}</p>
    <link-key-value-view *ngIf="!runtime.trasformazione && runtime.tipo" [info]="runtime.tipo" class="d-block link-key-value-fill-mat-card"></link-key-value-view>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="!runtime.trasformazione && runtime.definizione">
      <div class="col-12 col-sm-4 color-gray lh-130">Definizione:</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(runtime.definizione, 'Definizione')">
        <mat-icon aria-label="Open Definizione">open_in_new</mat-icon>
      </button>
    </div>
    <p class="d-block matcard-title pb-3 color-gray regular-18" *ngIf="!runtime.trasformazione && runtime.tipo">{{_voce.INOLTRO}}</p>
    <link-key-value-view *ngIf="runtime.inoltro" [info]="runtime.inoltro" class="d-block link-key-value-fill-mat-card"></link-key-value-view>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">{{_voce.PROMEMORIA_AVVISO_PAGAMENTO}}</p>
    <link-key-value-view *ngIf="promemoriaAvviso.abilitato" [info]="promemoriaAvviso.abilitato"
                         class="d-block py-2 link-key-value-fill-mat-card"></link-key-value-view>
    <p class="d-block pb-3 regular-16" *ngIf="promemoriaAvviso.noconfig">{{_voce.NON_CONFIGURATO}}</p>
    <link-key-value-view *ngIf="!promemoriaAvviso.noconfig && promemoriaAvviso.tipo" [info]="promemoriaAvviso.tipo"
                         class="d-block py-2 link-key-value-fill-mat-card"></link-key-value-view>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="!promemoriaAvviso.noconfig">
      <div class="col-12 col-sm-4 color-gray lh-130">Oggetto:</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(promemoriaAvviso.oggetto, 'Oggetto')" [disabled]="!promemoriaAvviso.oggetto">
        <mat-icon aria-label="Open Oggetto">open_in_new</mat-icon>
      </button>
    </div>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="!promemoriaAvviso.noconfig">
      <div class="col-12 col-sm-4 color-gray lh-130">Messaggio:</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(promemoriaAvviso.messaggio, 'Messaggio')" [disabled]="!promemoriaAvviso.messaggio">
        <mat-icon aria-label="Open Messaggio">open_in_new</mat-icon>
      </button>
    </div>
    <link-key-value-view *ngIf="!promemoriaAvviso.noconfig && promemoriaAvviso.allegaPdf" [info]="promemoriaAvviso.allegaPdf"
                         class="d-block py-2 link-key-value-fill-mat-card"></link-key-value-view>
  </mat-card>
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">{{_voce.PROMEMORIA_RICEVUTA_TELEMATICA}}</p>
    <link-key-value-view *ngIf="promemoriaRicevuta.abilitato" [info]="promemoriaRicevuta.abilitato"
                         class="d-block py-2 link-key-value-fill-mat-card"></link-key-value-view>
    <p class="d-block pb-3 regular-16" *ngIf="promemoriaRicevuta.noconfig">{{_voce.NON_CONFIGURATO}}</p>
    <link-key-value-view *ngIf="!promemoriaRicevuta.noconfig && promemoriaRicevuta.tipo" [info]="promemoriaRicevuta.tipo"
                         class="d-block py-2 link-key-value-fill-mat-card"></link-key-value-view>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="!promemoriaRicevuta.noconfig">
      <div class="col-12 col-sm-4 color-gray lh-130">Oggetto:</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(promemoriaRicevuta.oggetto, 'Oggetto')" [disabled]="!promemoriaRicevuta.oggetto">
        <mat-icon aria-label="Open Oggetto">open_in_new</mat-icon>
      </button>
    </div>
    <div class="row align-items-center lh-130 regular-16 mb-2 break-all" *ngIf="!promemoriaRicevuta.noconfig">
      <div class="col-12 col-sm-4 color-gray lh-130">Messaggio:</div>
      <button mat-icon-button class="action pl-2" type="button" (click)="_showTextContent(promemoriaRicevuta.messaggio, 'Messaggio')" [disabled]="!promemoriaRicevuta.messaggio">
        <mat-icon aria-label="Open Messaggio">open_in_new</mat-icon>
      </button>
    </div>
    <link-key-value-view *ngIf="!promemoriaRicevuta.noconfig && promemoriaRicevuta.allegaPdf" [info]="promemoriaRicevuta.allegaPdf"
                         class="d-block py-2 link-key-value-fill-mat-card"></link-key-value-view>
  </mat-card>

  <button mat-fab class="fab-action" (click)="_editTipoPendenza()"><i class="material-icons">edit</i></button>
</div>
