<mat-form-field class="w-100" color="accent" [formGroup]="_formGroup">
  <input #afSelect matInput [placeholder]="_placeholder"
         [matAutocomplete]="afsPanel" (keyup)="_keyUp(afSelect, $event)" [formControlName]="_formCtrlName" [required]="_required">
  <mat-spinner color="primary" mode="indeterminate" diameter="20" matSuffix *ngIf="_searching"></mat-spinner>
  <mat-hint>{{ _inputHint() }}</mat-hint>
  <mat-autocomplete #afsPanel="matAutocomplete" (optionSelected)="_codeSelection($event, afSelect)" [displayWith]="_inputDisplay">
    <mat-option class="async-opt" *ngFor="let item of _options" [value]="item">
      <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
