alabaster==0.7.12
Babel==2.6.0
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
gpg==1.12.0
idna==2.8
imagesize==1.1.0
iniparse==0.4
Jinja2==2.10.1
lxml==4.3.4
MarkupSafe==1.1.1
oath==1.4.3
packaging==19.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycairo==1.17.1
pycryptodome==3.8.2
pycurl==7.43.0.2
Pygments==2.4.0
pyliblzma==0.5.3
pyparsing==2.4.0
python-dateutil==2.7.5
python-ldap==3.1.0
python-vipaccess==0.10.3
pytz==2019.1
pyxattr==0.5.6
requests==2.21.0
rpm==4.14.2.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinx-ops-theme==0.1.11
sphinxcontrib-websupport==1.1.0
typing==3.6.6
urlgrabber==3.10.1
urllib3==1.24.3
vboxapi==1.0
yum-metadata-parser==1.1.4
