#crumbs {
	height: 2.3em;
	/*border:1px solid #dedede;*/
	}
	
#crumbs ul, li{
	list-style-type:none;
	padding:0;
	margin:0;
}
#crumbs li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;															
	}		
#crumbs li a {
	background:url(../images/crumbs.gif) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}	
a:link, a:visited,	
#crumbs li a:hover,
#crumbs li a:focus {
	color:#dd2c0d;
	}
#breadcrumb-ct{
	padding:2pt 0pt 5pt 0pt;
}