/**
	diagnostici severita
 */
.diag_error{
	color: Red;
}
.diag_info{
	color: #17B517;
}
.diag_fatal{
	color: Red;
	font-weight: bold;
	font-style: normal;
}
.diag_debug{
	
}
/**
	Esito dettaglio messaggio
 */
 .esito_ok{
 	color: #17B517;
 }
 .esito_ko{
 	color: Red;
 }

/*Link con icona*/
 a[id$='iconLink']{
	display:inline-block;
	padding-left:20px;
	padding-right: 5px;
	line-height:18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

 label[id$='iconLabel']{
	display:inline-block;
	padding-left:20px;
	line-height:18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

a.iconLinkie{
	display:inline-block;
	padding-left:20px;
	padding-right: 5px;
	line-height:18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

.align-top{
    vertical-align: top;
}
.info{
    overflow: auto;
}

.link-plain, .link-plain:visited{
	text-decoration: none;
	color: transparent;
	background: transparent url('../images/s.gif') no-repeat left;
}
.link-plain img, .link-plain:visited img{
	border: none;
}

/*Table row*/
.even {
	background-color: #FCFFFE;
}

.odd {
	background-color: #ECF3FE;
}
.active{
	background-color: #FFEBDA;
}
.rigaSelezionata{
	background-color: #FFABA6;
}
/*End Table row*/

.fieldError{
	background: transparent none repeat-x scroll center bottom;
	background-image:url(../images/invalid_line.gif);
}

.noborder {
	border: none !important;
}

.rich-page-footer{
	padding: 5px 0px !important;
}

.verticalAlignTop {
	vertical-align: top;
}

.nopadding
{
	padding: 0px;
}

.piubordo {
	border-width: 3px;
}

/* LABEL Outputfield*/
.outputFieldLabel {
	font-weight: bold;
}

.labelAllineataDx {
	text-align: right;
	padding: 0px 10px;
	vertical-align: top;
}

.labelAllineataSx {
	padding: 0px 10px;
	vertical-align: top;
}

.valueAllineataSx {
    padding: 0 10px 0 2px;
}

.beanTable{
	border-spacing: 3px;
}


/* Proprieta per eliminare i box superflui */ 
.rich-page-header {
border-bottom: none;

}

.rich-page-content {
border: none;
} 

.rich-page-main {
	border-top: 0px;
}

#menuct_body{
	padding-left: 0px;
}

/* Elementi del layout che forzano rich faces**/
#navbar {
	width: 100%;
}

#body {
	width: 100% !important;
}
