/* Form styles */
div.form-container {
	margin: 10px;
	padding: 5px;
	/*background-color: #FFBF7F;*/
	border: #BED6F8 1px solid;
}

p.legend {
	margin-bottom: 1em;
}

p.legend em {
	color: #C00;
	font-style: normal;
}

div.errors {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	border: #FC6 1px solid;
	background-color: #FFC;
	border-radius: 5px;
}

div.errors p {
	margin: 0;
}

div.errors p em {
	color: #C00;
	font-style: normal;
	font-weight: bold;
}

div.info {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	border: #6299c5 1px solid;
	background-color: #EFEFEF;
	border-radius: 5px;
}

div.info p {
	margin: 0;
}

div.info p em {
	color: #000;
	font-style: normal;
	font-weight: bold;
}

div.form-container form p,div.form-container .display-form p{
	margin: 0;
}

div.form-container form p.note, div.form-container .display-form p.note {
	margin-left: 170px;
	font-size: 90%;
	color: #333;
}

div.form-container form div.prop ,div.form-container .display-form div.prop{
	padding: 0px 3px 3px 3px; /*padding top 0px IE7 fix*/
}

div.form-container .display-form div.prop span.display-value{
	display: inline;
	float: none;
	font-weight: bold;
	position: absolute;
}

div.form-container form fieldset,div.form-container .display-form fieldset {
	margin: 10px 0;
	border: #99C 1px solid;
}

div.form-container form legend,div.form-container .display-form legend {
	font-weight: bold;
	color: #036;
}

div.form-container form fieldset div,div.form-container .display-form fieldset{
	/*padding: 0.05em 0;*/
}

div.form-container label,div.form-container .display-form label {
	margin-right: 10px;
	padding-right: 10px;
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
}

div.form-container label.error,
div.form-container span.error,
div.form-container .display-form label.error,
div.form-container .display-form span.error {
	color: #C00;
}

div.form-container label em ,div.form-container .display-form label em{
	position: absolute;
	right: 0;
	font-size: 120%;
	font-style: normal;
	color: #C00;
}

div.form-container input.error ,div.form-container .display-form input.error{
	border-color: #C00;
	background-color: #FEF;
}

div.form-container input:focus,
div.form-container input.error:focus,
div.form-container textarea:focus,
div.form-container .display-form input:focus,
div.form-container .display-form input.error:focus,
div.form-container .display-form textarea:focus
	{
	background-color: #FFC;
	border-color: #FC6;
}

div.form-container div.controlset label,
div.form-container div.controlset input,
div.form-container .display-form div.controlset label,
div.form-container .display-form div.controlset input
{
	display: inline;
	float: none;
}

div.form-container div.controlset label.controlset,
div.form-container .display-form div.controlset label.controlset{
	display: block;
	float: left;
}

div.form-container div.controlset div,
div.form-container .display-form div.controlset div {
	margin-left: 170px;
}

div.form-container div.buttonrow,
div.form-container .display-form div.buttonrow {
	margin-top: 10px;
	margin-left: 170px;
}

div.form-container div.rich-combobox,
div.form-container .display-form div.rich-combobox{
	margin-left: 170px;
}

/**
	personalizzazioni
 */
div.form-container table.controlset label,
div.form-container .display-form table.controlset label{
		float: right;
		padding-left: 2px;
		text-align: left;
		width: auto;
}

.field-error{
	color: red;
}

/* BUTTONS */

.buttonrowlista{
	display: block;
	float: right;
}

.buttonrow a, 
.buttonrow input[type="button"],
.buttonrow input[type="submit"]{
    /*display: block;
    float:none;*/
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
    text-indent: 18px;
    background-repeat: no-repeat;
	background-position: left;
}
.buttonrow input[type="button"],
.buttonrow input[type="submit"] {
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttonrow input[type="submit"], .buttonrow input[type="button"], .buttonrow button[type]{
    /*padding:5px 10px 5px 7px;*/ /* Firefox */
    line-height:17px; /* Safari */
    padding: 1px;
}
*:first-child+html input[type="button"],*:first-child+html button[type], *:first-child+html.buttonrow input[type="submit"] {
    padding:4px 10px 3px 7px; /* IE7 */
    
}
.buttonrow input[type="submit"] img, .buttonrow input[type="button"] img, .buttonrow a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */

input[type="submit"]:hover, input[type="button"]:hover, .buttonrow a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttonrow a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */
.buttonrow input[type="submit"].positive, input[type="button"].positive, .buttonrow a.positive{
    color:#529214;
}
.buttonrow a.positive:hover, input[type="button"].positive:hover, input[type="submit"].positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttonrow a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttonrow a.negative, input[type="button"].negative, input[type="submit"].negative{
    color:#d12f19;
}
.buttonrow a.negative:hover, input[type="button"].negative:hover, input[type="submit"].negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
    background-repeat: no-repeat;
	background-position: left;
}
.buttonrow a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

label.longLabel{
	margin-right: 10px;
	padding-right: 10px;
	width: 200px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
}

/** Properties interne*/



label.insideLeftProp{
	margin-right: 3px !important;
	padding-right: 3px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	width:  auto !important; 
}

label.insideRightProp{
	margin-right: 3px !important;
	padding-right: 3px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	width:  auto !important; 
}

.rich-shuttle-control-disabled{ 
	border : 1px solid;
	border-color: #c0c0c0;
	margin-bottom : 3px;
}

textarea[type="textarea"][disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled]{
	color: #7f7f7f;
}

.errorsPlaceHolder {
	position: fixed;
	z-index: 1000; 
	right: 10px; 
	top: 10px;
}
