* {
	margin: 0;
	padding: 0;
}

img{
	border: none;
}

/*
input {
	color: #003366;
	background-color: #FFFFFF;
}

select {
	color: #003366;
	background-color: #FFFFFF;
}*/


p {
	margin: .5em;
}

a {
	color: #036;
}

.maintitle{
	color: #FFF;
	font: bold;
}

.maintitle a{
	text-decoration: none;
	color: #FFF;
}

.maintitle a:visited{
	color:#FFF;
}

.subheader-menu{
	background-color: #9999CC;
	color: #003366;
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 140px;
}

.subheader-menu li{
	list-style-type: none;
	margin:0;
	float:right;
	padding:0 0.5em;
	border-right:thin dotted #003366;
}

.subheader-menu li a{
	color: #003366;													
}

.subheader-menu li a:hover{
	color: #FFF;													
}

.bgtopsx {
	padding-bottom: 10px;
	background-repeat: no-repeat;
	background-position: left top;
}
.bgtopdx {
	background-color: #FF9933;
	background-repeat: no-repeat;
	background-position: right top;
}


.menuLeft {
	background-color: #9999CC;
	color: #003366;
	padding-top: 10px;
	padding-right: 10px;
}

.menuLeft li{
	list-style-type: none;
	vertical-align: bottom;
	display: block;
}

.menuLeft li p{
	font-size: 12px;
	font-weight: bold;
	background: url("../images/dothdx.gif") no-repeat right bottom;
	padding-bottom: 7px;
}

.menuLeft li a{
	color: #003366;
	margin-top: 10px;
	padding-: 10px;
}

.menuLeft li a:hover{
	color: #FFF;
}

.corpoTesto {
	padding-top: 10px;
	padding-left: 10px;
	color: #003366;
	background-repeat: no-repeat;
	background-position: right top; 
	vertical-align: top;
}

.red {
	background-color: #FF9933;
}

.blue {
	background-color: #9999CC;
	color: #003366;
}

.noMenuLeft {
	background-color: #FFCC99;
	padding-top: 10px;
	padding-right: 10px;
}
