<link-async-autocomplete-select [label]="_voce.ENTE_CREDITORE" [dataProvider]="_domini" [optionFilter]="'ragioneSociale'" [scrollLimit]="true"
                                (change)="_dominiChangeSelection($event)" [optionValue]="'ragioneSociale'" [optionLabel]="'ragioneSociale'"
                                [control]="_dominioCtrl" [fieldRequired]="_dominioCtrl.validator" (scrollOver)="_loadMore()"
                                *ngIf="_methodSelected?.mimeType === 'text/csv'"></link-async-autocomplete-select>
<div class="w-100 mb-3" [formGroup]="fGroup">
  <input type="text" formControlName="tracciato_ctrl" hidden>
  <input #iBrowse type="file" hidden>
  <div class="d-block action" (click)="_select()">
    <p *ngIf="!_methodSelected?.file" class="m-0">Seleziona tracciato...</p>
    <div *ngIf="_methodSelected?.file" class="d-flex align-items-center">
      <p class="w-100 m-0 pr-3">{{_methodSelected?.filename}}</p>
      <button class="lh-100 right-aligned" mat-icon-button type="button" (click)="_resetSelection($event)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>
<mat-form-field class="w-100" color="accent" [formGroup]="fGroup" [hidden]="!_advancedSettings">
  <mat-select placeholder="Tipo tracciato" formControlName="conversione_ctrl" (selectionChange)="_onChangeConversion($event)"
              [compareWith]="_comparingFct" required>
    <mat-option *ngFor="let item of _externalConverters" [value]="item">{{item.name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="w-100" color="accent" [formGroup]="fGroup" *ngIf="_methodSelected?.mimeType === 'text/csv'" [hidden]="!_advancedSettings">
  <mat-select [placeholder]="_voce.TRASFORMATORE" formControlName="tipiPendenzaDominio_ctrl" [compareWith]="tipoPendenzaDominioCmpFn">
    <mat-option value="" selected>{{_voce.TRASFORMATORE_PREDEFINITO}}</mat-option>
    <mat-option *ngFor="let item of _tipiPendenzaDominio" [value]="item">{{item.descrizione}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="w-100" [formGroup]="fGroup" [hidden]="!_advancedSettings">
  <mat-slide-toggle formControlName="stampaAvvisi_ctrl" color="accent">{{ _voce.STAMPA_AVVISI }}</mat-slide-toggle>
</div>
