<div class="d-block">
  <div class="row">
    <mat-form-field class="col-12 col-md-8" color="accent" [formGroup]="fGroup">
      <input matInput [placeholder]="_Voce.IBAN_ACCREDITO" formControlName="ibanAccredito_ctrl" autocomplete="off" required>
      <mat-error *ngIf="fGroup.get('ibanAccredito_ctrl').invalid && fGroup.get('ibanAccredito_ctrl').errors['error']">
        {{fGroup.get('ibanAccredito_ctrl').errors['error']}}"
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12 col-md-4" color="accent" [formGroup]="fGroup">
      <input matInput [placeholder]="_Voce.BIC_ACCREDITO" formControlName="bicAccredito_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
      <input matInput [placeholder]="_Voce.DESCRIZIONE" formControlName="descrizione_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12" color="accent" [formGroup]="fGroup" *ngIf="fGroup.controls['postale_ctrl'].value === true">
      <input matInput [placeholder]="_Voce.INTESTATARIO" formControlName="intestatario_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-2 mb-md-0" [formGroup]="fGroup">
      <mat-slide-toggle formControlName="postale_ctrl" color="accent" matTooltip="Postale">{{ _Voce.POSTALE }}</mat-slide-toggle>
    </div>
    <div class="col-12 col-md-6" [formGroup]="fGroup">
      <mat-slide-toggle formControlName="abilita_ctrl" color="accent" matTooltip="Abilitato">{{ _Voce.ABILITATO }}</mat-slide-toggle>
    </div>
  </div>
</div>
