<div class="d-block">
  <link-standard-view [info]="info" [dataRef]="dataRef" (click)="_collapse()" class="pointer"></link-standard-view>
  <p class="mt-4" *ngIf="_expanded && (info.motivo && info.motivo !== 'force_elenco')">{{info.motivo}}</p>
  <div class="content-collapse mt-4" *ngIf="_expanded" @slideDownUp>
    <ng-container *ngFor="let item of _elenco">
      <ng-container [ngSwitch]="item.type">
        <ng-container *ngSwitchCase="'string'">
          <link-key-value-view class="d-block link-key-value-fill-mat-card" [info]="item"></link-key-value-view>
        </ng-container>
        <ng-container *ngSwitchCase="'quote'">
          <link-key-json-view class="d-block link-key-value-fill-mat-card" [info]="item"></link-key-json-view>
        </ng-container>
        <ng-container *ngSwitchCase="'metadata'">
          <div class="container mt-4" style="margin: 0 -16px;">
            <div class="row lh-130 regular-16 mb-2 break-all">
              <div class="col-12 col-sm-4 color-gray lh-130 mb-2 mb-sm-0 fw-bold">Metadata</div>
              <div class="col-12 col-sm-8"></div>
            </div>
          </div>
          <link-key-value-view class="d-block link-key-value-fill-mat-card" [info]="val" *ngFor="let val of item.value"></link-key-value-view>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <link-key-json-view class="d-block link-key-value-fill-mat-card" [info]="item"></link-key-json-view>
        </ng-container>
      </ng-container>
      <!-- <link-key-value-view class="d-block link-key-value-fill-mat-card" [info]="item" *ngIf="item.type == 'string'"></link-key-value-view>
      <link-key-json-view class="d-block link-key-value-fill-mat-card" [info]="item" *ngIf="item.type != 'string'"></link-key-json-view> -->
    </ng-container>
  </div>
</div>
