<div class="d-block">
  <link-standard-view [info]="info" [dataRef]="dataRef" (click)="_collapse()" class="pointer"></link-standard-view>
  <p class="mt-4" *ngIf="_expanded && info.motivo">{{info.motivo}}</p>
  <div class="content-collapse mt-4" *ngIf="_expanded" @slideDownUp>
    <ng-container *ngFor="let item of _elenco">
      <link-key-value-view class="d-block link-key-value-fill-mat-card" [info]="item" *ngIf="item.type == 'string'"></link-key-value-view>
      <link-key-json-view class="d-block link-key-value-fill-mat-card" [info]="item" *ngIf="item.type != 'string'"></link-key-json-view>
    </ng-container>
  </div>
</div>
