@import '~@angular/material/theming';
@import '../../../styles/variables.scss';

.risultati-group {
  background-color: $link-form-background;
  padding: 0 1.5rem;
}

.risultati-group p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
