<?xml version="1.0" encoding="UTF-8"?>

<b:beans 
	xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	 	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<b:bean id="batchAcquisizioneRendicontazioni" class="it.govpay.core.utils.tasks.AcquisizioneRendicontazioni"/>
	<b:bean id="batchRecuperoRptPendenti" class="it.govpay.core.utils.tasks.RecuperoRptPendenti"/>
	<b:bean id="batchSpedizioneNotifiche" class="it.govpay.core.utils.tasks.SpedizioneNotifiche"/>
	<b:bean id="batchResetCacheAnagrafica" class="it.govpay.core.utils.tasks.ResetCacheAnagrafica"/>
	<b:bean id="batchAvvisaturaDigitaleAsincrona" class="it.govpay.core.utils.tasks.AvvisaturaDigitaleAsincrona"/>
	<b:bean id="batchEsitoAvvisaturaDigitaleAsincrona" class="it.govpay.core.utils.tasks.EsitoAvvisaturaDigitaleAsincrona"/>
	<b:bean id="batchAvvisaturaDigitaleSincrona" class="it.govpay.core.utils.tasks.AvvisaturaDigitaleSincrona"/>
	<b:bean id="batchElaborazioneTracciatiCheck" class="it.govpay.core.utils.tasks.ElaborazioneTracciatiPendenzeCheck"/>
	<b:bean id="batchElaborazioneTracciati" class="it.govpay.core.utils.tasks.ElaborazioneTracciatiPendenze"/>
	
	<task:scheduled-tasks scheduler="myScheduler">
		<task:scheduled ref="batchAcquisizioneRendicontazioni" method="exec" cron="0 0 4,12,18 * * ?" />
        <task:scheduled ref="batchRecuperoRptPendenti" method="exec" cron="0 0 * * * ?" />
        <task:scheduled ref="batchSpedizioneNotifiche" method="exec" cron="0 * * * * ?" />
        <task:scheduled ref="batchResetCacheAnagrafica" method="exec" cron="0 0 0/2 * * ?" />
        <task:scheduled ref="batchAvvisaturaDigitaleAsincrona" method="exec" cron="0 0 * * * ?" />
        <task:scheduled ref="batchEsitoAvvisaturaDigitaleAsincrona" method="exec" cron="0 0 * * * ?" />
        <task:scheduled ref="batchAvvisaturaDigitaleSincrona" method="exec" cron="0 * * * * ?" />
        <task:scheduled ref="batchElaborazioneTracciatiCheck" method="exec" cron="0/5 * * * * ?" />
        <task:scheduled ref="batchElaborazioneTracciati" method="exec" cron="0 0/30 * * * ?" />
    </task:scheduled-tasks>
 
<task:scheduler id="myScheduler" pool-size="1"/>

</b:beans>
