<div class="row">
  <div class="col-12 col-lg-2"></div>
  <div class="col-12 col-lg-8">
    <mat-card class="shadow no-border-radius mb-4">
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
        <mat-select [placeholder]="_voce.ENTE_CREDITORE" formControlName="domini_ctrl"
                    (selectionChange)="_dominiChangeSelection($event)" [compareWith]="dominioCmpFn" required>
          <mat-option *ngFor="let item of _domini" [value]="item">{{item.ragioneSociale}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup" *ngIf="_unitaOperativeDominio?.length !== 0">
        <mat-select [placeholder]="_voce.UNITA_OPERATIVA" formControlName="unitaOperative_ctrl"
                    (selectionChange)="_unitaOperativaChangeSelection($event)" [compareWith]="unitaOperativaCmpFn" required>
          <mat-option *ngFor="let item of _unitaOperativeDominio" [value]="item">{{item.ragioneSociale}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
        <mat-select placeholder="Tipo pendenza" formControlName="tipiPendenzaDominio_ctrl"
                    (selectionChange)="_tipiPendenzaDominioChangeSelection($event)" [compareWith]="tipoPendenzaDominioCmpFn" required>
          <mat-option *ngFor="let item of _tipiPendenzaDominio" [value]="item">{{item.descrizione}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="w-100 d-none" [formGroup]="fGroup">
        <mat-checkbox formControlName="_autoSchemaForm_ctrl" [disableRipple]="true"
                      (change)="_checkChange($event)" required hidden></mat-checkbox>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-lg-2"></div>
</div>
<div class="row" [hidden]="!_showAutomaticForm">
  <div class="col-12 col-lg-2"></div>
  <div class="col-12 col-lg-8">
    <mat-card id="jForm" class="shadow no-border-radius mb-4">
      <ng-container #jsContainer></ng-container>
    </mat-card>
  </div>
  <div class="col-12 col-lg-2"></div>
</div>
