<mat-form-field class="col-12" color="accent" [formGroup]="fGroup" *ngIf="_jsonFormInput">
  <mat-select placeholder="Dominio" formControlName="idDominio_ctrl" multiple required>
    <mat-option *ngFor="let item of json.values" [value]="item">{{item.label}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-card class="no-shadow container-fluid" *ngIf="!_jsonFormInput">
  <div class="row">
    <mat-form-field class="col-12 col-sm-4" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Id dominio" formControlName="idDominio_ctrl" autocomplete="off" required>
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-8" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Ragione sociale" formControlName="ragioneSociale_ctrl" autocomplete="off" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Global location number" formControlName="gln_ctrl" autocomplete="off" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Stazione" formControlName="stazione_ctrl" autocomplete="off" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Indirizzo" formControlName="indirizzo_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Numero civico" formControlName="civico_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Cap" formControlName="cap_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Località" formControlName="localita_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Provincia" formControlName="provincia_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Nazione" formControlName="nazione_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Email" formControlName="email_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Pec" formControlName="pec_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
    <input matInput placeholder="Sito web" formControlName="web_ctrl" autocomplete="off">
  </mat-form-field>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Telefono" formControlName="tel_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Fax" formControlName="fax_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="CBill" formControlName="cbill_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Prefisso IUV" formControlName="iuvPrefix_ctrl" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Aux" formControlName="auxDigit_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Codice di segregazione" formControlName="segregationCode_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12" color="accent" [formGroup]="fGroup">
      <input matInput placeholder="Logo" formControlName="logo_ctrl" autocomplete="off">
    </mat-form-field>
  </div>
  <div class="w-100" [formGroup]="fGroup">
    <mat-slide-toggle formControlName="abilita_ctrl" color="accent">Abilitato</mat-slide-toggle>
  </div>
</mat-card>
