<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>OriginFilter</filter-name>
		<filter-class>it.govpay.rs.filter.OriginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OriginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- PagamentiTelematiciGPRnd  -->
	
	<servlet id="GPRnd_v3">
		<servlet-name>it.govpay.web.ws.v3.PagamentiTelematiciGPRndImpl</servlet-name>
		<servlet-class>it.govpay.web.ws.v3.PagamentiTelematiciGPRndImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>it.govpay.web.ws.v3.PagamentiTelematiciGPRndImpl</servlet-name>
		<url-pattern>/PagamentiTelematiciGP/soap/v3/Rendicontazioni</url-pattern>
	</servlet-mapping>
	
	<!-- PagamentiTelematiciGPApp  -->
	
	<servlet id="GPApp_v3">
		<servlet-name>it.govpay.web.ws.v3.PagamentiTelematiciGPAppImpl</servlet-name>
		<servlet-class>it.govpay.web.ws.v3.PagamentiTelematiciGPAppImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>it.govpay.web.ws.v3.PagamentiTelematiciGPAppImpl</servlet-name>
		<url-pattern>/PagamentiTelematiciGP/soap/v3/Applicazioni</url-pattern>
	</servlet-mapping>
	
	<!-- PagamentiTelematiciGPPrt  -->
	
	<servlet id="GPPrt_v3">
		<servlet-name>it.govpay.web.ws.v3.PagamentiTelematiciGPPrtImpl</servlet-name>
		<servlet-class>it.govpay.web.ws.v3.PagamentiTelematiciGPPrtImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>it.govpay.web.ws.v3.PagamentiTelematiciGPPrtImpl</servlet-name>
		<url-pattern>/PagamentiTelematiciGP/soap/v3/Portali</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protetto</web-resource-name>
			<url-pattern>/PagamentiTelematiciCCPservice</url-pattern>
			<url-pattern>/PagamentiTelematiciRTservice</url-pattern>
			<url-pattern>/PagamentiTelematiciGP/soap/*</url-pattern>
			<url-pattern>/rs/caricatore/*</url-pattern>
			<url-pattern>/rs/v1/*</url-pattern>
			<!-- TODO chiarire se e' il client che deve mandare le credenziali nella preflight request delle chiamate -->
			<http-method-omission>OPTIONS</http-method-omission>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Libero</web-resource-name>
			<url-pattern>/PagamentiTelematiciCCPservice?wsdl</url-pattern>
			<url-pattern>/PagamentiTelematiciRTservice?wsdl</url-pattern>
			<url-pattern>/PagamentiTelematiciGP/soap/*?wsdl</url-pattern>
			<url-pattern>/rs/check/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-role>
		<role-name>*</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

</web-app>
