<div class="container py-4 px-3 card-container">
  <mat-card class="shadow no-border-radius mb-4">
    <p class="d-block matcard-title pb-3 color-gray regular-24">Riepilogo informazioni</p>
    <p class="d-block matcard-title py-0 regular-16 normal-color" *ngIf="informazioni.length == 0">Nessuna informazione</p>
    <div class="d-block" *ngIf="informazioni.length != 0">
      <link-key-value-view *ngFor="let item of informazioni" [info]="item" class="d-block link-key-value-fill-mat-card"></link-key-value-view>
    </div>
    <p class="d-block matcard-title py-3 color-gray regular-18">Connettore PDD o PPDOE</p>
    <p class="d-block matcard-title py-0 regular-16 normal-color" *ngIf="connettori.length == 0">Nessuna informazione</p>
    <div class="d-block" *ngIf="connettori.length != 0">
      <link-key-value-view *ngFor="let item of connettori" [info]="item" class="d-block link-key-value-fill-mat-card"></link-key-value-view>
    </div>
  </mat-card>
  <mat-card class="shadow no-border-radius pb-0">
    <div class="d-flex flex-row">
      <p class="w-100 mr-3 matcard-title color-gray regular-24 lh-100 mb-3">Stazioni</p>
      <mat-icon class="action" (click)="_addEditStazione()"><i class="material-icons dark-material-icons">add</i></mat-icon>
    </div>
    <mat-card-content>
      <p class="d-block matcard-title pb-3 regular-16 normal-color" *ngIf="stazioni.length == 0">Nessuna informazione</p>
      <div class="d-block" *ngIf="stazioni.length != 0">
        <link-item-view #sliv class="d-block link-item-view-fill-mat-card" *ngFor="let item of stazioni" [component-data]="item"
                        (icon-click)="_iconClick(sliv, $event)" [over-icons]="['edit']" [use-item-view-directive]="true"></link-item-view>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<button mat-fab class="fab-action" (click)="_editRegistro()"><i class="material-icons">edit</i></button>
