<div class="container py-4">
  <div class="row">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-lg-8">
      <div class="accordion" id="settings">
        <mat-card class="no-shadow p-0">
          <div class="card-header" id="headGde">
            <span class="mb-0">
              <button class="trigger-collapse" type="button" data-toggle="collapse" data-target="#gde" aria-expanded="true" aria-controls="gde">
               Giornale degli Eventi
              </button>
            </span>
          </div>
          <div id="gde" class="collapse" aria-labelledby="headGde" data-parent="#settings">
            <div class="card-body">
              <form class="w-100" [formGroup]="gdeForm" novalidate (ngSubmit)="onSubmit('gdeForm', gdeForm.value)">
                <mat-tab-group color="accent">
                  <mat-tab label="Registrazione Letture">
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API pagoPA</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pagoPARL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pagamento</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="payRL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pendenza</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pendenzaRL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ragioneria</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="ragioneriaRL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backoffice</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="backofficeRL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ente Creditore</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="enteRL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backend IO</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="apiBEIORL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </mat-tab>
                  <mat-tab label="Registrazione Scritture">
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API pagoPA</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pagoPARS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pagamento</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="payRS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pendenza</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pendenzaRS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ragioneria</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="ragioneriaRS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backoffice</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="backofficeRS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ente Creditore</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="enteRS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backend IO</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="apiBEIORS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </mat-tab>
                  <mat-tab label="Dump Letture">
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API pagoPA</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pagoPADL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pagamento</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="payDL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pendenza</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pendenzaDL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ragioneria</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="ragioneriaDL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backoffice</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="backofficeDL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ente Creditore</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="enteDL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backend IO</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="apiBEIODL_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </mat-tab>
                  <mat-tab label="Dump Scritture">
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API pagoPA</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pagoPADS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pagamento</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="payDS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Pendenza</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="pendenzaDS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ragioneria</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="ragioneriaDS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backoffice</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="backofficeDS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Ente Creditore</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="enteDS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-start radio-item-group">
                      <p class="m-0 mb-3 mb-md-0">API Backend IO</p>
                      <mat-radio-group class="d-block ml-md-auto mat-radio-group" formControlName="apiBEIODS_ctrl">
                        <mat-radio-button value="sempre">Sempre</mat-radio-button>
                        <mat-radio-button value="mai" class="mx-1">Mai</mat-radio-button>
                        <mat-radio-button value="solo errore">Solo errore</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </mat-tab>
                </mat-tab-group>
                <div class="text-right p-3">
                  <button mat-button color="accent" type="submit" [disabled]="!gdeForm.valid">Salva</button>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
        <mat-card class="no-shadow p-0">
          <div class="card-header" id="headAvvisaturaMail">
            <span class="mb-0">
              <button class="trigger-collapse" type="button" data-toggle="collapse" data-target="#avvisaturaMail" aria-expanded="true" aria-controls="gde">
               Comunicazioni Mail
              </button>
            </span>
          </div>
          <div id="avvisaturaMail" class="collapse" aria-labelledby="headAvvisaturaMail" data-parent="#settings">
            <div class="card-body">
              <mat-tab-group #tg color="accent">
                <mat-tab label="Mail server">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="serverForm" novalidate>
                      <mat-slide-toggle class="mb-3" color="accent" formControlName="serverAbilitato_ctrl"
                                        (change)="_toggleValidators($event, 'serverForm', { ctrls: ['serverHost_ctrl','serverPorta_ctrl','serverUsername_ctrl',
                                        'serverPassword_ctrl','serverMittente_ctrl','serverCTimeout_ctrl','serverRTimeout_ctrl'] })">
                        {{ Voce.ABILITATO }}
                      </mat-slide-toggle>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput placeholder="Host" formControlName="serverHost_ctrl" [required]="!!_serverAbilitato.value">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput placeholder="Porta" formControlName="serverPorta_ctrl" [required]="!!_serverAbilitato.value">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput placeholder="Username" formControlName="serverUsername_ctrl" [required]="!!_serverAbilitato.value">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput placeholder="Password" formControlName="serverPassword_ctrl" [required]="!!_serverAbilitato.value">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput placeholder="Mittente" formControlName="serverMittente_ctrl" [required]="!!_serverAbilitato.value">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput placeholder="Connection timeout" formControlName="serverCTimeout_ctrl" [required]="!!_serverAbilitato.value">
                        <mat-hint>Durata in millisecondi</mat-hint>
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput placeholder="Read timeout" formControlName="serverRTimeout_ctrl" [required]="!!_serverAbilitato.value">
                        <mat-hint>Durata in millisecondi</mat-hint>
                      </mat-form-field>
                      <div class="row mb-2">
                        <mat-slide-toggle class="mt-3 col-12 col-sm-6" color="accent" formControlName="sslConfig_ctrl"
                                          (change)="_toggleValidators($event, 'serverForm', { ctrls: _sslControllers })">
                          {{ Voce.ABILITA_CONFIGURAZIONE_SSL }}
                        </mat-slide-toggle>
                        <mat-slide-toggle class="mt-3 col-12 col-sm-6" color="accent" formControlName="startTls_ctrl">
                          {{ Voce.ABILITA_PROTOCOLLO_TLS }}
                        </mat-slide-toggle>
                      </div>
                      <p class="py-2">{{ Voce.CONFIGURAZIONE_SSL }}</p>
                      <mat-form-field class="w-100" color="accent">
                        <mat-select [placeholder]="Voce.TIPO" formControlName="cryptoType_ctrl"
                                    (selectionChange)="_cryptoTypeChangeSelection($event)" [required]="_sslConfigAbilitato.value">
                          <mat-option value="">Seleziona...</mat-option>
                          <mat-option *ngFor="let item of Util.CODIFICHE_SSL" [value]="item.value">{{item.label}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-slide-toggle class="mb-3" color="accent" formControlName="hostnameVerifier_ctrl">{{ Voce.ABILITA_VERIFICATORE_HOSTNAME }}</mat-slide-toggle>
                      <p class="color-gray">{{ Voce.AUTENTICAZIONE_SERVER }}</p>
                      <mat-form-field class="w-100" color="accent">
                        <mat-select [placeholder]="Voce.TIPO" formControlName="tsType_ctrl" [required]="hasTsValue"
                                    (selectionChange)="_ksTsValidators('hasTsValue', _tsControllers)">
                          <mat-option value="">Seleziona...</mat-option>
                          <mat-option *ngFor="let item of Util.TIPI_KEYSTORE_TRUSTSTORE" [value]="item.value">{{item.label}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput [placeholder]="Voce.PATH" formControlName="truststoreLocation_ctrl"
                               (input)="_ksTsValidators('hasTsValue', _tsControllers)" [required]="hasTsValue">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput [placeholder]="Voce.PASSWORD" formControlName="truststorePassword_ctrl"
                               (input)="_ksTsValidators('hasTsValue', _tsControllers)" [required]="hasTsValue">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput [placeholder]="Voce.ALGORITHM" formControlName="truststoreAlgorithm_ctrl"
                               (input)="_ksTsValidators('hasTsValue', _tsControllers)" [required]="hasTsValue">
                      </mat-form-field>
                      <p class="color-gray">{{ Voce.AUTENTICAZIONE_CLIENT }}</p>
                      <mat-form-field class="w-100" color="accent">
                        <mat-select [placeholder]="Voce.TIPO" formControlName="ksType_ctrl" [required]="hasKsValue"
                                    (selectionChange)="_ksTsValidators('hasKsValue', _ksControllers)">
                          <mat-option value="">Seleziona...</mat-option>
                          <mat-option *ngFor="let item of Util.TIPI_KEYSTORE_TRUSTSTORE" [value]="item.value">{{item.label}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput [placeholder]="Voce.PATH" formControlName="keystoreLocation_ctrl"
                               (input)="_ksTsValidators('hasKsValue', _ksControllers)" [required]="hasKsValue">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput [placeholder]="Voce.PASSWORD" formControlName="keystorePassword_ctrl"
                               (input)="_ksTsValidators('hasKsValue', _ksControllers)" [required]="hasKsValue">
                      </mat-form-field>
                      <mat-form-field class="w-100" color="accent">
                        <input matInput [placeholder]="Voce.ALGORITHM" formControlName="keystoreAlgorithm_ctrl"
                               (input)="_ksTsValidators('hasKsValue', _ksControllers)" [required]="hasKsValue">
                      </mat-form-field>
                    </form>
                  </div>
                </mat-tab>
                <mat-tab label="Notifica Avviso">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="avvisaturaMailForm" novalidate>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaMailForm">
                        <mat-select [placeholder]="Voce.TIPO_TEMPLATE" formControlName="promemoriaAvvisoMailTipo_ctrl" required>
                          <mat-option value="freemarker">Freemarker</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="row">
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaAvvisoMailOggetto_ctrl'"
                                                 [fGroup]="avvisaturaMailForm" [placeholder]="Voce.TEMPLATE_OGGETTO"></link-file-selector-view>
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaAvvisoMailMessaggio_ctrl'"
                                                 [fGroup]="avvisaturaMailForm" [placeholder]="Voce.TEMPLATE_MESSAGGIO"></link-file-selector-view>
                      </div>
                      <mat-slide-toggle class="mb-3" color="accent" formControlName="promemoriaAvvisoMailStampa_ctrl">{{ Voce.ALLEGA_PDF_AVVISO }}</mat-slide-toggle>
                    </form>
                  </div>
                </mat-tab>
                <mat-tab label="Promemoria Scadenza">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="avvisaturaMailForm" novalidate>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaMailForm">
                        <mat-select [placeholder]="Voce.TIPO_TEMPLATE" formControlName="promemoriaScadenzaMailTipo_ctrl" required>
                          <mat-option value="freemarker">Freemarker</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="row">
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaScadenzaMailOggetto_ctrl'"
                                                 [fGroup]="avvisaturaMailForm" [placeholder]="Voce.TEMPLATE_OGGETTO"></link-file-selector-view>
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaScadenzaMailMessaggio_ctrl'"
                                                 [fGroup]="avvisaturaMailForm" [placeholder]="Voce.TEMPLATE_MESSAGGIO"></link-file-selector-view>
                      </div>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaMailForm">
                        <input matInput [placeholder]="Voce.GIORNI_PREAVVISO" formControlName="promemoriaScadenzaMailPreavviso_ctrl" required>
                      </mat-form-field>
                    </form>
                  </div>
                </mat-tab>
                <mat-tab label="Notifica Ricevuta">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="avvisaturaMailForm" novalidate>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaMailForm">
                        <mat-select [placeholder]="Voce.TIPO_TEMPLATE" formControlName="promemoriaRicevutaMailTipo_ctrl" required>
                          <mat-option value="freemarker">Freemarker</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="row">
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaRicevutaMailOggetto_ctrl'"
                                                 [fGroup]="avvisaturaMailForm" [placeholder]="Voce.TEMPLATE_OGGETTO"></link-file-selector-view>
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaRicevutaMailMessaggio_ctrl'"
                                                 [fGroup]="avvisaturaMailForm" [placeholder]="Voce.TEMPLATE_MESSAGGIO"></link-file-selector-view>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                          <mat-slide-toggle class="mr-3" color="accent" formControlName="promemoriaRicevutaMailStampa_ctrl">{{ Voce.ALLEGA_PDF_RICEVUTA }}</mat-slide-toggle>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                          <mat-slide-toggle class="mr-3" color="accent" formControlName="promemoriaRicevutaMailEseguiti_ctrl">{{ Voce.SOLO_ESEGUITI }}</mat-slide-toggle>
                        </div>
                      </div>
                    </form>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div class="text-right p-3">
                <button mat-button (click)="(tg.selectedIndex===0)?onSubmit('serverForm', serverForm.value):onSubmit('avvisaturaMailForm', avvisaturaMailForm.value)"
                        color="accent" type="submit" [disabled]="!_tgFormIsValid">Salva</button>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card class="no-shadow p-0">
          <div class="card-header" id="headAvvisaturaAppIO">
            <span class="mb-0">
              <button class="trigger-collapse" type="button" data-toggle="collapse" data-target="#avvisaturaAppIO" aria-expanded="true" aria-controls="gde">
               Comunicazioni AppIO
              </button>
            </span>
          </div>
          <div id="avvisaturaAppIO" class="collapse" aria-labelledby="headAvvisaturaAppIO" data-parent="#settings">
            <div class="card-body">
              <mat-tab-group #tgIO color="accent">
                <mat-tab label="Backend server">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="appIOBatchForm" novalidate>
                      <div class="container">
                        <mat-slide-toggle class="mb-3" color="accent" formControlName="appIOBatchAbilitato_ctrl"
                                          (change)="_toggleValidators($event, 'appIOBatchForm', { ctrls: ['appIOBatchUrl_ctrl'] })">{{ Voce.ABILITATO }}</mat-slide-toggle>
                        <mat-form-field class="w-100" color="accent" [formGroup]="appIOBatchForm">
                          <input matInput [placeholder]="Voce.URL_BACKEND_IO" formControlName="appIOBatchUrl_ctrl" [required]="!!_appIOBatchAbilitato.value">
                        </mat-form-field>
                        <mat-form-field class="w-100" color="accent" [formGroup]="appIOBatchForm">
                          <input matInput [placeholder]="Voce.TTL" pattern="[0-9]+" formControlName="appIOBatchTTL_ctrl">
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
                </mat-tab>
                <mat-tab label="Notifica Avviso">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="avvisaturaAppIOForm" novalidate>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaAppIOForm">
                        <mat-select [placeholder]="Voce.TIPO_TEMPLATE" formControlName="promemoriaAvvisoIOTipo_ctrl" required>
                          <mat-option value="freemarker">Freemarker</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="row">
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaAvvisoIOOggetto_ctrl'"
                                                 [fGroup]="avvisaturaAppIOForm" [placeholder]="Voce.TEMPLATE_OGGETTO"></link-file-selector-view>
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaAvvisoIOMessaggio_ctrl'"
                                                 [fGroup]="avvisaturaAppIOForm" [placeholder]="Voce.TEMPLATE_MESSAGGIO"></link-file-selector-view>
                      </div>
                    </form>
                  </div>
                </mat-tab>
                <mat-tab label="Promemoria Scadenza">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="avvisaturaAppIOForm" novalidate>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaAppIOForm">
                        <mat-select [placeholder]="Voce.TIPO_TEMPLATE" formControlName="promemoriaScadenzaIOTipo_ctrl" required>
                          <mat-option value="freemarker">Freemarker</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="row">
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaScadenzaIOOggetto_ctrl'"
                                                 [fGroup]="avvisaturaAppIOForm" [placeholder]="Voce.TEMPLATE_OGGETTO"></link-file-selector-view>
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaScadenzaIOMessaggio_ctrl'"
                                                 [fGroup]="avvisaturaAppIOForm" [placeholder]="Voce.TEMPLATE_MESSAGGIO"></link-file-selector-view>
                      </div>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaAppIOForm">
                        <input matInput [placeholder]="Voce.GIORNI_PREAVVISO" formControlName="promemoriaScadenzaIOPreavviso_ctrl" required>
                      </mat-form-field>
                    </form>
                  </div>
                </mat-tab>
                <mat-tab label="Notifica Ricevuta">
                  <div class="w-100 px-4 pt-4 pb-0">
                    <form class="w-100" [formGroup]="avvisaturaAppIOForm" novalidate>
                      <mat-form-field class="w-100" color="accent" [formGroup]="avvisaturaAppIOForm">
                        <mat-select [placeholder]="Voce.TIPO_TEMPLATE" formControlName="promemoriaRicevutaIOTipo_ctrl" required>
                          <mat-option value="freemarker">Freemarker</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="row">
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaRicevutaIOOggetto_ctrl'"
                                                 [fGroup]="avvisaturaAppIOForm" [placeholder]="Voce.TEMPLATE_OGGETTO"></link-file-selector-view>
                        <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'promemoriaRicevutaIOMessaggio_ctrl'"
                                                 [fGroup]="avvisaturaAppIOForm" [placeholder]="Voce.TEMPLATE_MESSAGGIO"></link-file-selector-view>
                      </div>
                      <mat-slide-toggle class="mb-3" color="accent" formControlName="promemoriaRicevutaIOEseguiti_ctrl">{{ Voce.SOLO_ESEGUITI }}</mat-slide-toggle>
                    </form>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div class="text-right p-3">
                <button mat-button (click)="(tgIO.selectedIndex===0)?onSubmit('appIOBatchForm', appIOBatchForm.value):onSubmit('avvisaturaAppIOForm', avvisaturaAppIOForm.value)"
                        color="accent" type="submit" [disabled]="!_tgIOFormIsValid">Salva</button>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card class="no-shadow p-0">
          <div class="card-header" id="headParser">
            <span class="mb-0">
              <button class="trigger-collapse" type="button" data-toggle="collapse" data-target="#parser" aria-expanded="true" aria-controls="gde">
               Parser tracciati csv
              </button>
            </span>
          </div>
          <div id="parser" class="collapse" aria-labelledby="headParser" data-parent="#settings">
            <div class="card-body">
              <form class="w-100 px-4 pt-4 pb-0" [formGroup]="parserForm" novalidate (ngSubmit)="onSubmit('parserForm', parserForm.value)">
                <mat-form-field class="w-100" color="accent">
                  <mat-select placeholder="Tipo template" formControlName="parserTipo_ctrl" required>
                    <mat-option value="freemarker">Freemarker</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="row">
                  <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'parserCaricamento_ctrl'"
                                           [fGroup]="parserForm" placeholder="Template caricamento"></link-file-selector-view>
                  <link-file-selector-view class="col-12 col-sm-6 mb-3" [fControlName]="'parserEsito_ctrl'"
                                           [fGroup]="parserForm" placeholder="Template esito"></link-file-selector-view>
                </div>
                <mat-form-field class="w-100" color="accent">
                  <input matInput placeholder="Linea intestazione esito" formControlName="parserLineaEsito_ctrl" required>
                </mat-form-field>
                <div class="text-right p-3">
                  <button mat-button color="accent" type="submit" [disabled]="!parserForm.valid">Salva</button>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
        <mat-card class="no-shadow p-0">
          <div class="card-header" id="headProtezione">
            <span class="mb-0">
              <button class="trigger-collapse" type="button" data-toggle="collapse" data-target="#protezione" aria-expanded="true" aria-controls="gde">
               Protezione API pubbliche
              </button>
            </span>
          </div>
          <div id="protezione" class="collapse" aria-labelledby="headProtezione" data-parent="#settings">
            <div class="card-body">
              <form class="w-100 px-4 pt-4 pb-0" [formGroup]="protezioneForm" novalidate (ngSubmit)="onSubmit('protezioneForm', protezioneForm.value)">
                <mat-slide-toggle class="mb-3" color="accent" formControlName="protezioneAbilitato_ctrl">{{ Voce.ABILITATO }}</mat-slide-toggle>
                <mat-form-field class="w-100" color="accent">
                  <input matInput placeholder="URL verifica" formControlName="protezioneUrl_ctrl" [required]="!!_protezioneAbilitato.value">
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                  <input matInput placeholder="Chiave del sito" formControlName="protezioneKey_ctrl" [required]="!!_protezioneAbilitato.value">
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                  <input matInput placeholder="Chiave segreta" formControlName="protezioneSecret_ctrl" [required]="!!_protezioneAbilitato.value">
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                  <input matInput placeholder="Soglia" formControlName="protezioneSoglia_ctrl" [required]="!!_protezioneAbilitato.value">
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                  <input matInput placeholder="Nome property response" formControlName="protezionePropResponse_ctrl" [required]="!!_protezioneAbilitato.value">
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                  <input matInput placeholder="Connection timeout" formControlName="protezioneCTimeout_ctrl" [required]="!!_protezioneAbilitato.value">
                  <mat-hint>Durata in millisecondi</mat-hint>
                </mat-form-field>
                <mat-form-field class="w-100 mb-3" color="accent">
                  <input matInput placeholder="Read timeout" formControlName="protezioneRTimeout_ctrl" [required]="!!_protezioneAbilitato.value">
                  <mat-hint>Durata in millisecondi</mat-hint>
                </mat-form-field>
                <mat-slide-toggle color="accent" formControlName="protezioneVerifica_ctrl">Blocca se non verifica</mat-slide-toggle>
                <div class="text-right p-3">
                  <button mat-button color="accent" type="submit" [disabled]="!protezioneForm.valid">Salva</button>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-12 col-lg-2"></div>
    </div>
  </div>
</div>

