<div class="row">
  <div class="col-12 col-lg-2"></div>
  <div class="col-12 col-lg-8">
    <mat-form-field class="w-100" color="accent" [formGroup]="fGroup" *ngIf="_jsonFormInput">
      <mat-select [placeholder]="_voce.ENTE_CREDITORE" formControlName="idDominio_ctrl" multiple required>
        <mat-option *ngFor="let item of json.values" [value]="item">{{item.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card class="shadow no-border-radius container-fluid mb-3" *ngIf="!_jsonFormInput">
      <p class="d-block matcard-title py-3 color-gray regular-18">Dati anagrafici</p>
      <div class="row">
        <mat-form-field class="col-12 col-sm-4" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.ID_DOMINIO" formControlName="idDominio_ctrl" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-4" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.RAGIONE_SOCIALE" formControlName="ragioneSociale_ctrl" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-4" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.AREA" formControlName="area_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.INDIRIZZO" formControlName="indirizzo_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.CIVICO" formControlName="civico_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.CAP" formControlName="cap_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.LUOGO" formControlName="localita_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.PROVINCIA" formControlName="provincia_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.NAZIONE" formControlName="nazione_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.EMAIL" formControlName="email_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.PEC" formControlName="pec_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.TELEFONO" formControlName="tel_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.FAX" formControlName="fax_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
        <input matInput [placeholder]="_voce.WEB_SITE" formControlName="web_ctrl" autocomplete="off">
      </mat-form-field>
      <div class="w-100 my-3" [formGroup]="fGroup">
        <mat-slide-toggle formControlName="abilita_ctrl" color="accent">Abilitato</mat-slide-toggle>
      </div>
      <p class="d-block matcard-title py-3 color-gray regular-18">Parametri adesione a pagoPA</p>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <mat-select placeholder="Intermediario" formControlName="intermediarioStazione_ctrl" (selectionChange)="_intermediarioChange($event)" required>
            <mat-option *ngFor="let _interSta of _intermediariStazione" [value]="_interSta.value">{{_interSta.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <mat-select [placeholder]="_voce.ID_STAZIONE" formControlName="stazione_ctrl" required>
            <mat-option *ngFor="let _stazione of _stazioniDominio" [value]="_stazione">{{_stazione}}</mat-option>
          </mat-select>
          <!--<input matInput placeholder="Stazione" formControlName="stazione_ctrl" autocomplete="off" required>-->
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.CODICE_INTERBANCARIO" formControlName="cbill_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.AUX_DIGIT" formControlName="auxDigit_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-3" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.SECRET_CODE" formControlName="segregationCode_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
      <p class="d-block matcard-title py-3 color-gray regular-18">Altre informazioni</p>
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.AUT_PT" formControlName="autStampaPosteItaliane_ctrl" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="_voce.IUV_SINTAX" formControlName="iuvPrefix_ctrl" autocomplete="off">
        </mat-form-field>
      </div>
    </mat-card>
    <mat-card class="shadow no-border-radius container-fluid mb-3" *ngIf="!_jsonFormInput">
      <div class="row">
        <div class="col-12" [formGroup]="fGroup">
          <input #iBrowse hidden placeholder="Logo" type="file" formControlName="logo_ctrl" autocomplete="off">
          <div class="d-inline action" *ngIf="!_base64File" (click)="_select()">Sfoglia...</div>
          <div class="d-block b64-group" *ngIf="_base64File">
            <img class="d-block w-50" [src]="_base64File"/>
            <mat-icon class="action b64-icon" (click)="_resetSelection()">delete</mat-icon>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-lg-2"></div>
</div>
