<div class="container p-0 regular-16 normal-color" *ngIf="info">
  <div class="row px-3">
    <div class="col-12 col-sm-12 px-0 px-0">
      <div class="row lh-130 mb-2 break-all" *ngIf="info.titolo">
        <div class="col-lg-3 col-sm-4 color-gray">{{info.titolo?.label}}:</div>
        <div class="col-lg-9 col-sm-8"><p class="m-0 word-break-all">{{info.titolo?.value}}</p></div>
      </div>
      <div class="row lh-130 mb-2 break-all" *ngIf="info.sottotitolo">
        <div class="col-lg-3 col-sm-4 color-gray">{{info.sottotitolo?.label}}:</div>
        <div class="col-lg-9 col-sm-8"><p class="m-0 word-break-all">{{info.sottotitolo?.value}}</p></div>
      </div>
      <div class="row lh-130 mb-2 break-all" *ngFor="let extra of info.extraInfo">
        <div class="col-lg-3 col-sm-4 color-gray">{{extra.label}}</div>
        <div class="col-lg-9 col-sm-8"><p class="m-0 word-break-all">{{extra.value}}</p></div>
      </div>
    </div>
  </div>
</div>
