<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans" xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<b:import resource="classpath:META-INF/cxf/cxf.xml" />
	<b:import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- Parameter Converter -->
    <b:bean id="parameterConverter" class="org.openspcoop2.utils.jaxrs.ParameterConverterProvider"/>

	<!--  Object BodyReader -->
    <b:bean id="objectMessageBodyReader" class="org.openspcoop2.utils.jaxrs.ObjectMessageBodyReader"/>

    <!--  Jackson Provider for JSON/XML -->
    <b:bean id="jacksonJsonProvider" class="it.govpay.core.jaxrs.JacksonJsonProviderCustomized"/>
    <b:bean id="jacksonXmlProvider" class="it.govpay.core.jaxrs.JacksonXmlProviderCustomized"/>
    
    <!-- FaultBean Exception Mapper -->
    <b:bean id="webApplicationExceptionMapper" class="it.govpay.rs.v1.handler.WebApplicationExceptionHandler"/>
    
    <!-- Context -->
	<b:bean id="contextConfigV3" class="it.govpay.rs.v3.service.context.ContextConfigV3">
	</b:bean>
	<b:bean id="customContextFactory" class="it.govpay.core.utils.service.context.GpContextFactory">
		<b:property name="apiName" value="API_PAGAMENTO" />
	</b:bean>
	<b:bean id="contextV3" class="org.openspcoop2.utils.service.context.ContextFeature">
		<b:property name="contextFactory" >
			<b:ref bean="customContextFactory"/>
		</b:property>
		<b:property name="contextConfig" >
			<b:ref bean="contextConfigV3"/>
		</b:property>
	</b:bean>
	
	<!-- Giornale Eventi -->
	<b:bean id="giornaleEventiConfigV3" class="it.govpay.rs.eventi.GiornaleEventiConfig">
		<b:property name="apiName" value="API_PAGAMENTO" />
	</b:bean>
	<b:bean id="giornaleEventiV3" class="it.govpay.rs.eventi.GiornaleEventiFeature">
		<b:property name="giornaleEventiConfig" >
			<b:ref bean="giornaleEventiConfigV3"/>
		</b:property>
	</b:bean>
	
	<!-- JAX-RS Service Impl V3 -->
	
	<b:bean id="pendenzeV3" class="it.govpay.pagamento.v3.api.impl.PendenzeApiServiceImpl"/>
	<b:bean id="profiloV3" class="it.govpay.pagamento.v3.api.impl.UtentiApiServiceImpl"/>
	<b:bean id="ricevuteV3" class="it.govpay.pagamento.v3.api.impl.RicevuteApiServiceImpl"/>
	
	<!-- Servizi V3 -->
	<!-- BASIC_START -->
    <jaxrs:server id="apiPagamentoV3Basic" address="/basic/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- BASIC_END -->
    
    <!-- Servizi SSL V3 -->
	<!-- SSL_START  -->
    <jaxrs:server id="apiPagamentoV3SSL" address="/ssl/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- SSL_END -->
    
    <!-- SSL_HEADER_START  -->
    <jaxrs:server id="apiPagamentoSSLV3Header" address="/sslheader/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- SSL_HEADER_END -->
    
    <!-- Servizi SPID V3 -->
	<!-- SPID_START  -->
    <jaxrs:server id="apiPagamentoV3Spid" address="/spid/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- SPID_END -->
    
   <!-- Servizi Public V3 -->
	<!-- PUBLIC_START  -->
    <jaxrs:server id="apiPagamentoV3Public" address="/public/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- PUBLIC_END -->
    
       <!-- Servizi Header V3 -->
	<!-- HEADER_START  -->
    <jaxrs:server id="apiPagamentoV3Header" address="/header/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- HEADER_END -->
    
    <!-- Servizi Session V3 -->
	<!-- SESSION_START  -->
    <jaxrs:server id="apiPagamentoV3Session" address="/session/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- SESSION_END -->
    
        <!-- Servizi ApiKey V3 -->
	<!-- API_KEY_START  -->
    <jaxrs:server id="apiPagamentoV3ApiKey" address="/apikey/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- API_KEY_END -->
    
    	<!-- DEFAULT_START  -->
    <jaxrs:server id="apiPagamentoV3DEFAULT" address="/v3/">
        <jaxrs:serviceBeans>
        		<ref bean="pendenzeV3" />
			   	<ref bean="profiloV3" />
			   	<ref bean="ricevuteV3" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
                <ref bean="parameterConverter" />
                <ref bean="objectMessageBodyReader"/>
                <ref bean="jacksonJsonProvider"/>
                <ref bean="jacksonXmlProvider"/>
                <ref bean="webApplicationExceptionMapper" />
        </jaxrs:providers>
        <jaxrs:features>
        	<ref bean="giornaleEventiV3" /> <!-- Inserire prima della contextFeature -->
			<ref bean="contextV3" />
		</jaxrs:features>
    </jaxrs:server>
    <!-- DEFAULT_END -->
	
</b:beans>
        