<div class="head-toolbar head-shadow">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="align-items-start pt-3 head-toolbar-row" *ngIf="_showHeaderTitle">
      <div>{{_title}}</div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-icon-button (click)="_dispatchSideMenu()" *ngIf="_showMenuIcon"><mat-icon>menu</mat-icon></button>
      <button mat-icon-button (click)="_dispatchSideMenu(true)" *ngIf="_showBackIcon"><mat-icon>arrow_back</mat-icon></button>
      <h1 class="pl-2 head-title" [matTooltip]="_subtitle">{{_subtitle}}</h1>
      <div class="d-flex ml-auto">
        <button mat-icon-button (click)="_toggleSearch(true)" class="d-block" *ngIf="_showSearchIcon"><mat-icon>search</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="actionMenu" *ngIf="_showActionMenuIcon()"><mat-icon>more_vert</mat-icon></button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <link-mobile-search (enter)="_onEnter()" (out)="_onOut()" class="d-block" *ngIf="_showInputSearch"></link-mobile-search>
  <mat-menu #actionMenu="matMenu">
    <button mat-menu-item *ngFor="let menu_action of _actions" (click)="_actionTrigger(menu_action)">{{menu_action[_actionLabel]}}</button>
  </mat-menu>
  <div class="d-flex align-items-center justify-content-around py-1" *ngIf="_agree">
    <small>{{_notification}} ({{_progress}}%)</small>
    <button mat-button color="accent" (click)="_agree = !_agree">Action</button>
  </div>
</div>
