ant.install.config.version=0.0
antinstaller_advanced=true
antinstaller_as=#GOVPAY_APPSERVER#
antinstaller_cod_univoco=00000000000ADMIN
antinstaller_dbhost=#GOVPAY_DBHOST#
antinstaller_dbname=#GOVPAY_DBNAME#
antinstaller_dbpassword=#GOVPAY_DBPASSWORD#
antinstaller_dbport=5432
antinstaller_dbusername=
antinstaller_domain_name=localhost
antinstaller_domain_port=8080
antinstaller_driver_jdbc=org.postgresql.Driver
antinstaller_govpay_backend_api_form_base_url=/govpay-api-backoffice/rs/form/v1
antinstaller_govpay_backend_api_public_base_url=/govpay-api-backoffice/public
antinstaller_govpay_backend_gui_base_path=/govpay-console/
antinstaller_govpay_backend_gui_config_js_path=assets/Config.js
antinstaller_hibernate_dialect=org.hibernate.dialect.PostgreSQLDialect
antinstaller_jndi_name=java:comp/env/it.govpay.datasource
antinstaller_log_folder=#GOVPAY_LOGDIR#
antinstaller_log_level=INFO
antinstaller_modulo_postgres=govpayJDBCMod
antinstaller_principal=gpadmin
antinstaller_principal_pwd=Password1!
antinstaller_product_version=#GOVPAY_FULLVERSION#
antinstaller_ragione_sociale=GovPay Administrator
antinstaller_springsec_ext=true
antinstaller_tipo_database=#GOVPAY_DATABASE_TIPO#
antinstaller_work_folder=#GOVPAY_HOME#
Fine-targets=setup_completo,
porta-db=5432
protocollo=http
TABLESPACE=govpay
