<div class="row">
  <div class="col-12 col-lg-2"></div>
  <div class="col-12 col-lg-8">
    <mat-card class="no-shadow">
      <div class="row">
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="voce.DENOMINAZIONE" formControlName="denominazione_ctrl" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="col-12 col-sm-6" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="voce.ID_INTERMEDIARIO" formControlName="idIntermediario_ctrl" autocomplete="off" required>
        </mat-form-field>
      </div>
      <div class="w-100" [formGroup]="fGroup">
        <mat-slide-toggle formControlName="abilita_ctrl" color="accent">{{ voce.ABILITATO }}</mat-slide-toggle>
      </div>
      <p class="color-gray pt-2 mt-3 mb-2">Servizi pagoPA</p>
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
        <input matInput [placeholder]="voce.PRINCIPAL" formControlName="principalPagoPa_ctrl" autocomplete="off" required>
      </mat-form-field>
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
        <input matInput [placeholder]="voce.SERVIZIO_RPT" formControlName="urlRPT_ctrl" autocomplete="off" required>
      </mat-form-field>
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup" *ngIf="_us.TEMPORARY_DEPRECATED_CODE">
        <input matInput [placeholder]="voce.SERVIZIO_AVVISATURA" formControlName="urlAvvisatura_ctrl" autocomplete="off">
      </mat-form-field>
      <!--<mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
        <mat-select placeholder="Versione API" formControlName="versioneApi_ctrl" required>
          <mat-option *ngFor="let ver of versioni" [value]="ver">{{ver}}</mat-option>
        </mat-select>
      </mat-form-field>-->
      <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
        <mat-select #authentication placeholder="Tipo autenticazione" formControlName="auth_ctrl"
                    (selectionChange)="_onAuthChange(authentication)">
          <mat-option value="">Nessuna</mat-option>
          <mat-option [value]="BASIC">HTTP Basic</mat-option>
          <mat-option [value]="SSL">SSL</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="_isBasicAuth">
        <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="voce.USERNAME" formControlName="username_ctrl" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="voce.PASSWORD" formControlName="password_ctrl" autocomplete="off" required>
        </mat-form-field>
      </div>
      <div *ngIf="_isSslAuth">
        <div class="w-100" [formGroup]="fGroup">
          <mat-slide-toggle #type formControlName="ssl_ctrl" color="accent" (change)="_onTypeChange(type)">{{ voce.AUTENTICAZIONE_CLIENT }}</mat-slide-toggle>
        </div>
        <mat-form-field class="w-100 mt-3" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="voce.TRUST_STORE_LOC" formControlName="tsLocation_ctrl" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="w-100" color="accent" [formGroup]="fGroup">
          <input matInput [placeholder]="voce.TRUST_STORE_PWD" formControlName="tsPassword_ctrl" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="w-100" color="accent" [formGroup]="fGroup" *ngIf="_isSslClient">
          <input matInput [placeholder]="voce.KEY_STORE_LOC" formControlName="ksLocation_ctrl" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="w-100" color="accent" [formGroup]="fGroup" *ngIf="_isSslClient">
          <input matInput [placeholder]="voce.KEY_STORE_PWD" formControlName="ksPassword_ctrl" autocomplete="off" required>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-lg-2"></div>
</div>
