<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:b="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
        
        <global-method-security
                secured-annotations="enabled">
        </global-method-security>
        
        
        <!-- CONTAINER START -->
        
        <b:bean id="basicAuthenticationEntryPoint" class="it.govpay.rs.v1.authentication.entrypoint.BasicAuthenticationEntryPoint" >
    		<b:property name="wwwAuthenticate" value="false"/>
        </b:bean>
        
        <b:bean id="userDetailServiceUtenze" class="it.govpay.core.dao.autorizzazione.AutenticazioneUtenzeAnonimeDAO" >
        </b:bean>
        
        <b:bean id="wildflyApplicationAuthenticationProvider" class="org.openspcoop2.utils.jaxrs.impl.authentication.provider.WildflyApplicationAuthenticationProvider" >
			<b:property name="userDetailsService" ref="userDetailServiceUtenze"/>
		</b:bean>
        
        <authentication-manager id="authenticationManager">
                <authentication-provider ref="wildflyApplicationAuthenticationProvider">
                </authentication-provider>
        </authentication-manager>
        
        <http auto-config="false" use-expressions="true" create-session="stateless" authentication-manager-ref="authenticationManager" pattern="/**">

                <csrf disabled="true"/>

                <intercept-url pattern="*?wsdl" access="permitAll" />
                
                <intercept-url pattern="/**" access="isFullyAuthenticated()" />
                
                <http-basic entry-point-ref="basicAuthenticationEntryPoint" />

                <headers>
                        <content-type-options disabled="true"/>
                        <frame-options disabled="true"/>
                        <xss-protection disabled="true"/>
                </headers>
        </http>
      	
      	<!-- CONTAINER END -->
        
</b:beans>
        