@import '~@angular/material/theming';
@import '../../../styles/variables.scss';

:host {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.1);
}

.dual-progress-bar small {
  transform: translate(0, 8px);
  text-align: center;
  color: $link-light;
}

.dual-progress-bar {
  width: 75%;
  height: 36px;
}

.vertical-spinner {
  position: relative;
  top: calc(50% - 18px);
}

@media (min-width: 576px) {
  .dual-progress-bar {
    width: 35%;
  }
}

