<div class="d-block">
  <div class="row m-0 normal-color">
    <div class="{{(info.importo || _hasStato())?'col-8':'col'}} px-0">
      <p class="lh-130 mb-1">{{info.titolo?.label}} {{info.titolo?.value}}</p>
      <p class="color-gray regular-14">{{info.sottotitolo?.label}} {{info.sottotitolo?.value}}</p>
    </div>
    <div class="col-4 px-0 text-right" *ngIf="(info.importo || _hasStato())">
      <p class="text-truncate medium-16 lh-130" *ngIf="info.importo">{{info.importo}}</p>
      <p class="text-truncate medium-14 color-gray lh-130" *ngIf="_hasStato()">{{info.stato}}</p>
    </div>
  </div>
</div>
