<div class="d-block">
  <div class="row m-0">
    <div class="{{(info.importo != -1 || _hasStato())?'col-8':'col'}} px-0">
      <p [ngClass]="_titleStyle()">{{info.titolo?.label}} {{info.titolo?.value}}</p>
      <p [ngClass]="_subTitleStyle()">{{info.sottotitolo?.label}} {{info.sottotitolo?.value}}</p>
    </div>
    <div class="col-4 px-0 text-right" *ngIf="(info.importo != -1 || _hasStato())">
      <p [ngClass]="us.importoClass(info.stato)" *ngIf="info.importo != -1">{{us.currencyFormat(info.importo)}}</p>
      <p class="text-truncate text-sub-color text-sub-font" *ngIf="_hasStato()">{{info.stato}}</p>
    </div>
  </div>
</div>
